.podeli_widget.item {
    margin-top: 60px;
}

.product_pricebox span{
    margin: 0 15px 0 0!important;
}

@media screen and (max-width: 1100px) {
    .product_pricebox span {
        margin-top: 15px!important;
    }
}