
/*
    City Select popup
 */
.citypop_body .cities_found li strong {
    cursor: pointer;
}
/*payment*/
.formPayment
{
	text-align: center;
    padding: 160px 0;
	 margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}

.taske-container {

}

.taske-block {
    margin-top: 6em!important;
    margin-bottom: 3em!important;
}

@media screen and (max-width: 1000px) {
    .taske-block {
        margin-top: 3em!important;
        margin-bottom: 1em!important;
    }
}

@media screen and (max-width: 750px) {
    .taske-block {
        margin-top: 2em!important;
        margin-bottom: 1em!important;
    }
}

.sale_order_full_table {
    margin-bottom: 2em;
}

.sale_order_full_table a.soa-link-button {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    background: #242424;
    color: #eee;
    font-weight: bold;
}


/*.sale_order_full_table a:last-child:hover {*/
/*    color: #fff;*/
/*}*/


@media screen and (max-width: 750px) {
    .sale_order_full_table .ps_logo {
        display: none;
    }
}

.product_prices span {
    margin-right: 15px!important;
}

.product_price_discounted {
    background: #FE7779;
    color: #fff;
    padding: 0.25em;
}

.catalog_items .product_price_discounted {
    padding: 0 .25em!important;
}

.actiondetailspop.modal.universal_modal__actiondetails .modal_body {
    overflow-x: auto;
}
.actiondetailspop.modal.universal_modal__actiondetails .modal_body p {
    line-height: 2em;
}

/* alert cookie */
.alert_cookie {
    display: flex!important;
    justify-content: space-between;
    width: 511px;
    height: 85px;
}

.alert_cookie p {
    text-align: left;
    color: #B3B3B3;
    font-size: 14px;
    line-height: 18.2px;
    align-self: center;
}

.alert_cookie p span {
    color: #fff;
}

.alert_cookie button {
    margin-left: 2em;
    background: transparent;
    color: #fff;
    border: 1px #fff solid;
    font-size: 12px;
    width: 103px;
    height: 45px;
    padding: 15px 20px 15px 20px;
    align-self: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .alert_cookie {
        padding: 10px 15px 10px 15px;
        bottom: 0px;
        width: 100%;
    }

    .alert_cookie p {
        font-size: 12px;
    }

    .alert_cookie button {
        width: 83px;
        height: 32px;
        padding: 10px;
        margin-left: 0;
    }
}

/*
    Обраэ
*/

.look_side .product_mini__tocart,
.complete_look.universal_modal__in
{
    cursor: pointer;
}

/*
    ДЛя блока в подвале
*/

footer .footer_container .footer_top__text h2 {
    position: relative;
    margin: 40px 0 30px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 100%;
}

footer .footer_container .footer_top__text h3 {
    position: relative;
    margin: 40px 0 30px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 100%;
}

footer .footer_container .footer_top__text ul {
    list-style-type: disc;
    list-style-position: inside;
}
footer .footer_container .footer_top__text ul li {
    list-style-type: disc;
    list-style-position: inside;
}

footer .footer_container .footer_top__text ol {
    list-style-type: decimal;
    list-style-position: inside;
}
footer .footer_container .footer_top__text ol li {
    list-style-type: decimal;
    list-style-position: inside;
}

footer .footer_container .footer_top__text ul ul,
footer .footer_container .footer_top__text ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
}
footer .footer_container .footer_top__text ul ul li,
footer .footer_container .footer_top__text ol ul li {
    list-style-type: circle;
    list-style-position: inside;
}

footer .footer_container .footer_top__text ol ol,
footer .footer_container .footer_top__text ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
}
footer .footer_container .footer_top__text ol ol li,
footer .footer_container .footer_top__text ul ol li {
    list-style-type: lower-latin;
    list-style-position: inside;
}

@media screen and (max-width: 750px) {
    footer .footer_container .footer_top__text h2 {
        margin: 30px 0 20px;
        font-size: 20px;
        line-height: 100%;
    }

    footer .footer_container .footer_top__text h3 {
        margin: 20px 0 15px;
        font-size: 18px;
        line-height: 100%;
    }
}

@media screen and (max-width: 750px) {
    .look_allbox__imgs.margin-left-3,
    .look_allbox__imgs.margin-left-2,
    .look_allbox__imgs.margin-left-1 {
        margin-left: 0!important;
    }
}

.product_mini .product_mini__size.disabled {
    background: #EBEBEB;
    color: #b9b9b9;
    border: 1px solid #E1E1E1;
}

.sizetable_item__out.acc_item__out {
    overflow-x: auto;
}

body.home h1 {
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 2em;
}

/*
    *******************
*/

.mob_login_data_exchange {
    padding: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    z-index: 99999;
}

.mob_login_data_exchange__title {
    font-weight: 500;
    font-size: 14px;
}

.mob_login_data_exchange__text {
    margin-top: 1em;
    font-size: 12px;
    color: #666;
}
