
@media screen and (max-width: 1250px) {
    .see_our_shops {padding: 120px 0;}


    .modal_head {height: 50px; padding: 0 20px; font-size: 16px;}
    .modal_closeicon {right: 20px;}
    .modal_body {height: calc(100% - 50px);}


    .look {width: 100vw;}

    .look_body {padding: 20px 0;}
    .look_body .customscroll {padding: 0 5px 0 20px;}
    .look_body .customscroll .mCSB_container {margin-right: 22px;}
    .look_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}

    .look_sliderwrap {width: 460px; padding: 0 0 30px;}
    .look_side {width: calc(100% - 460px - 20px);}
    .look_top {margin: 0 0 30px;}
    .look_top .look_prices {display: none;}
    .look_result {display: flex; width: 100%; padding: 30px 0 20px; border-top: 1px solid #E4E4E4;}
    .look_result span {font-weight: 500; font-size: 24px; line-height: 29px; margin: 0 auto 0 0;}


    .sizetable .trouble {padding: 35px 20px 30px;}


    .cart_container .cart_content {width: calc(100% - 420px); padding: 40px 20px 40px 0;}
    .cart_container .cart_order {width: 420px; padding: 40px 20px 0;}
    .cart_container .delivery_option {padding: 20px;}
    .cart_container .cart_order__head {padding: 0 0 30px}
    .cart_container .cart_order__headnum {padding: 16px 0 0 0; font-size: 15px; top: auto; right: auto; position: relative; transform: none; padding-top: 16px;}


    .contacts_container .contacts_socials {top: 30px;}


    .order_content__label:nth-child(1) {width: 480px;}
    .order_content__label:nth-child(2) {width: 90px;}
    .order_content__label:nth-child(3) {width: 100px;}
    .order_content__label:nth-child(4) {width: 90px;}

    .order_item__col1 {width: 480px;}
    .order_item__col2 {width: 90px;}
    .order_item__col3 {width: 100px;}
    .order_item__col4 {width: 90px;}


    .returns_container .returns_yourreturns {padding: 40px 0 0 0;}

    .returns_content .order_top__col1 {width: 140px; margin: 0 auto 0 0;}
    .returns_content .order_top__col2 {width: 210px; margin: 0 auto 0 0;}
    .returns_content .order_top__col3 {width: 160px; margin: 0 auto 0 0;}
    .returns_content .order_top__col4 {width: 120px; margin: 0 auto 0 0;}
    .returns_content .order_top__col5 {width: 136px; margin: 0;}


    .cards_container .cards_content {justify-content: space-between;}
    .cards_container .cards_side {margin: 0;}


    .news_container .news_item {width: calc((100% - 2px * 2)/3);}
    .news_container .news_item:nth-child(4n) {margin-right: 2px;}
    .news_container .news_item:nth-child(3n) {margin-right: 0;}

}

@media screen and (max-width: 1100px) {
    .mob_nomargin.table_opaced {
        color: #7c7c7c!important;
        margin-left: 0!important;
    }

    .auth {width: 436px;}
    .auth .auth_body {padding: 20px 0 20px;}
    .auth .customscroll {margin: 0 5px 0 20px;}
    .auth .customscroll .mCSB_container {margin-right: 22px;}
    .auth .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}
    .auth .signup_error {margin: 0 0 25px;}
    .auth form {padding: 15px 0 0 0;}


    .restore {width: 436px;}
    .restore .restore_body {padding: 20px 0 20px;}
    .restore .customscroll {margin: 0 5px 0 20px;}
    .restore .customscroll .mCSB_container {margin-right: 22px;}
    .restore .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}
    .restore .restore_instruction {margin: 0 0 25px;}


    .product_mini {padding: 0 0 25px; margin: 0 0 20px;}
    .product_mini:last-of-type {margin: 0; padding: 0 0 25px;}


    .mappoints_body {width: 428px;}
    .mappoints_inside {padding: 30px 20px;}
    .mappoints_map {width: calc(100% - 428px);}
    .mappoints_title {font-size: 36px; line-height: 100%;}


    .instore .instore_shoptitle {font-size: 36px; line-height: 100%;}


    .partspay_body .customscroll {margin: 0 5px 0 20px;}
    .partspay_body .customscroll .mCSB_container {margin-right: 20px;}
    .partspay_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}


    .nosize {width: 436px;}
    .nosize_body .customscroll {margin: 0 5px 0 20px;}
    .nosize_body .customscroll .mCSB_container {margin-right: 22px;}
    .nosize_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}


    .oneclick {width: 473px;}
    .oneclick .customscroll {margin: 0 5px 0 20px;}
    .oneclick .customscroll .mCSB_container {margin-right: 22px;}
    .oneclick .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}


    .sizetable {width: 436px;}
    .sizetable_body {padding: 0 0 20px;}

    .sizetable_body .customscroll .mCSB_container {margin-right: 7px;}
    .sizetable_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 0;}
    .sizetable_body .customscroll.mCS_no_scrollbar .sizetable_item__title:before {right: 20px;}
    .sizetable_body .mCSB_scrollTools_vertical {right: 5px; top: 20px;}

    .sizetable_item__title {padding: 15px 20px 15px; font-size: 14px; line-height: 17px;}
    .sizetable_item__title:before {right: 20px;}

    .sizetable_item__out th {font-size: 10px; line-height: 130%;}
    .sizetable_item__out tr.last td {padding: 15px 20px; font-size: 12px; line-height: 130%;}
    .sizetable_item__out table.measurements td:first-of-type {font-size: 12px; line-height: 130%;}

    .sizetable .chosesize_supertitle {font-size: 18px; line-height: 22px; padding: 25px 20px 60px;}
    .sizetable .chosesize img {width: 100px; margin: 0 60px 30px 20px;}
    .sizetable .chosesize ul {padding: 0 20px 20px;}
    .sizetable .chosesize ul li {margin: 0 0 30px 170px; font-size: 13px; line-height: 16px;}
    .sizetable .chosesize ul li p {font-size: 13px; line-height: 16px;}
    .sizetable .chosesize ul strong {font-size: 13px; line-height: 16px;}
    .sizetable .chosesize ul i {font-size: 12px; line-height: 130%;}
    .sizetable .chosesize ul span {font-size: 14px; line-height: 17px;}

    .sizetable .trouble_subtitle {font-size: 12px; line-height: 15px;}


    .mobadd_back svg {position: absolute; right: 15px; bottom: 145px;}

    .mobadd {position: fixed; left: 0; bottom: 0; right: 0; background: rgba(255, 255, 255, 0.9); z-index: 991;}
    .mobadd_title {position: relative; padding: 20px 0 0 0; font-weight: 500; font-size: 12px; text-align: center; line-height: 110%; text-transform: uppercase; color: #242424; opacity: 0.5;}
    .mobadd_sizes {position: relative; padding: 20px 10px 20px; width: 100%; display: flex; flex-flow: row wrap; justify-content: center; box-sizing: border-box;}
    .mobadd_sizes .product_size {width: calc((100% - 2px * 6)/7); white-space: nowrap; font-size: 12px; font-weight: 500; box-sizing: border-box; text-align: center; padding: 7px 0; display: block; color: #242424; border-radius: 100px;}
    .mobadd_sizes .product_size:hover {background: #D8D8D8; cursor: pointer;}
    .mobadd_sizes .product_size.disabled {opacity: 0.25;}
    .mobadd_sizes .product_size.disabled:hover {cursor: default; background: transparent;}
    .mobadd_sizes .product_loader {position: absolute; left: 50%; top: 50%; width: 40px; height: 40px; margin: -19px 0 0 -20px; z-index: 4; opacity: 0; transition: 0.2s; pointer-events: none;}
    .mobadd_sizes.loading .product_loader {opacity: 0.6;}
    .mobadd_sizes__report {cursor: pointer; margin: 0 0 20px; text-align: center; font-weight: 500; font-size: 12px; line-height: 110%; opacity: 0.5;}


    .mobcats_back {background: #000; opacity: 0.6;}

    body.mobcats_show .mobcats_back {display: block;}


    .footer_container .footer_body {padding: 0 0 50px;}
    .footer_container .footer_bottom {align-items: flex-start; align-content: flex-start;}
    .footer_container .footer_socials {display: block;}
    .footer_container .footer_socials li {margin: 0 0 10px;}
    .footer_container .footer_socials li:last-of-type {margin: 0;}
    .footer_container .footer_payment {align-items: flex-end; align-content: flex-end;}
    .footer_container .footer_payment li {margin-top: 20px;}


    .filters_in {margin: 0 auto 0 0; cursor: pointer; order: 1;}

    .filters_options {width: auto; margin: 0 0 0 auto; justify-content: flex-end; order: 3;}

    .categories,
    .filters_applied,
    .filters .sortby {display: none;}

    .categories_mobin {position: absolute; display: block; left: 50%; top: 0; transform: translateX(-50%); padding: 0 0 0 26px; cursor: pointer; box-sizing: border-box;}
    .categories_mobin span {position: relative; font-weight: 500; font-size: 13px; line-height: 16px;}
    .categories_mobin svg {position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

    .mobcats {display: block; position: fixed; left: -436px; width: 436px; top: 0; bottom: 0; background: #FFF; z-index: 9999; transition: left 0.2s;}

    body.mobcats_show .mobcats {left: 0;}

    .mobcats_head {display: flex; width: 100%; padding: 0 20px; height: 50px; font-weight: 500; font-size: 16px; position: relative; box-sizing: border-box; border-bottom: 1px solid #DCDCDC; align-items: center; align-content: center;}
    .mobcats_head__close {position: absolute; top: 50%; transform: translateY(-50%); right: 20px; cursor: pointer;}
    .mobcats_body {position: relative; padding: 20px 0; height: calc(100% - 50px); box-sizing: border-box;}

    .mobcats_body .customscroll {padding: 0 5px 0 20px;}
    .mobcats_body .customscroll .mCSB_container {margin-right: 22px;}
    .mobcats_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}

    .mobcats_lvl1li a,
    .mobcats_lvl2li a,
    .mobcats_lvl3li a
    {
        color: inherit;
    }

    .mobcats_lvl1li {cursor: pointer;}
    .mobcats_lvl1li > span {text-transform: uppercase; font-weight: 600; font-size: 15px;}
    .mobcats_lvl1li > span.has_children:before {content:""; position: absolute; left: 0; top: 50%; width: 18px; height: 9px; background: url('/local/templates/main/img/arrow5.svg') 0 0 no-repeat; background-size: 100% 100%; opacity: 0; transform: translateY(-50%); transition: 0.2s;}
    .mobcats_lvl1li > span.has_children:after {content:""; position: absolute; right: 0; top: 50%; width: 6px; height: 12px; background: url('/local/templates/main/img/arrow2.svg') 0 0 no-repeat; background-size: 100% 100%; transform: translateY(-50%); transition: 0.2s; opacity: 0;}

    .mobcats_lvl1li.red > span {color: #D62D30;}
    .mobcats_lvl1li.red > span:after {background-image: url('/local/templates/main/img/arrow6.svg');}

    .mobcats_lvl1li.active > span {padding-left: 36px;}
    .mobcats_lvl1li.active > span:before {opacity: 1;}

    .mobcats_lvl2ul,
    .mobcats_lvl3ul {display: none; position: relative; transition: 0.2s;}

    .mobcats_lvl1li > span,
    .mobcats_lvl2li > span,
    .mobcats_lvl3li > span {display: block; width: 100%; position: relative; display: block; width: 100%; padding: 15px 0 15px; border-bottom: 1px solid #E6E6E6; box-sizing: border-box; position: relative; transition: 0.2s;}

    .mobcats_lvl1li > span:before,
    .mobcats_lvl2li > span:before {content:""; position: absolute; left: 0; top: 50%; width: 18px; height: 9px; background: url('/local/templates/main/img/arrow5.svg') 0 0 no-repeat; background-size: 100% 100%; opacity: 0; transform: translateY(-50%); transition: 0.2s;}

    .mobcats_lvl1li > span.has_children:after,
    .mobcats_lvl2li > span.has_children:after {content:""; position: absolute; right: 0; top: 50%; width: 6px; height: 12px; background: url('/local/templates/main/img/arrow2.svg') 0 0 no-repeat; background-size: 100% 100%; transform: translateY(-50%); transition: 0.2s; opacity: 0;}

    .mobcats_lvl1li.w_sub > span:after,
    .mobcats_lvl2li.w_sub > span:after {opacity: 1;}

    .mobcats_lvl1li.all > span,
    .mobcats_lvl2li.all > span,
    .mobcats_lvl3li.all > span  {font-weight: 500; text-transform: none;}

    .mobcats_lvl2li.active > span {padding-left: 36px; font-weight: 600; font-size: 15px; text-transform: uppercase; }
    .mobcats_lvl2li.active > span:before {opacity: 1;}


    body.mobcats_lvl2 .mobcats_lvl1li {display: none;}
    body.mobcats_lvl2 .mobcats_lvl1li.active {display: block;}
    body.mobcats_lvl2 .mobcats_lvl1li.active .mobcats_lvl2ul {display: block;}

    body.mobcats_lvl3 .mobcats_lvl1li.active > span {display: none;}
    body.mobcats_lvl3 .mobcats_lvl2li {display: none;}
    body.mobcats_lvl3 .mobcats_lvl2li.active {display: block;}
    body.mobcats_lvl3 .mobcats_lvl3ul {display: block;}


    .catalog_container .breadcrumbs {padding: 0 0 10px;}

    .pagination_block {padding: 0; margin: 0 0 100px}

    .product_container .product_gallery {width: calc((100% - 40px)/2);}
    .product_container .product_pricebox {margin: 0 0 40px; padding: 0 70% 0 0; flex-flow: row wrap;}
    .product_container .product_price,
    .product_container .product_priceold {display: block; clear: both; margin: 0 0 10px; width: 100%; font-size: 18px;}
    .product_container .product_priceold {margin: 0;}
    .product_container .product_tags {width: 70%; position: absolute; right: 0; top: 0; justify-content: flex-end;}
    .product_container .product_tags li {margin: 0 0 10px 10px; padding: 5px 10px; font-size: 10px;}
    .product_container .product_info {width: calc((100% - 40px)/2); padding: 15px 0 0 0;}
    .product_container .product_sizes .sizes {margin: 0 -5px 15px 0;}
    .product_container .product_sizes_tablein {margin-top: 15px;}
    .product_container .product_color {padding: 40px 0 0 0; margin-bottom: 28px;}
    .product_container .product_add {width: 100%; margin: 0 0 10px;}
    .product_container .product_sidetags {width: 100%; text-align: left;}
    .product_container .podeli {margin: 35px 0 0;}
    .product_container .product_menu, .product_container .podeli_widget {margin: 40px 0 0;}
    .product_container .product_menuitem__title {transition: none;}
    .product_container .product_menuitem__content,
    .product_container .product_menuitem.active .product_menuitem__content {transition: none; height: auto; max-height: none; overflow: none; display: none;}
    .product_container .product_menuitem.active .product_menuitem__content {display: block;}

    .look_container .clook_sliderwrap {width: calc(((100% - 10px * 2)/3) * 2 + 10px * 2);}
    .look_container .look_allbox {width: calc(((100% - 10px * 2)/3));}
    .look_container .look_allbox__title {margin: 0 0 30px; font-size: 14px; line-height: 110%;}
    .look_container .look_allbox__imgs {height: 40px; margin: 0 0 40px;}

    .look_container .look_allbox__imgs.margin-left-1 {
        margin-left: calc(80px - 15px);
    }
    .look_container .look_allbox__imgs.margin-left-2  {
        margin-left: 40px;
    }
    .look_container .look_allbox__imgs.margin-left-3  {
        margin-left: calc(40px - 15px);
    }

    .look_container .look_allbox__img {width: 40px; height: 40px;}
    .look_container .look_allbox__img:nth-child(1) {margin-right: 15px;}
    .look_container .look_allbox__img:nth-child(2) {margin-right: -9px;}
    .look_container .look_allbox__img:nth-child(3) {margin-left: -9px;}
    .look_container .look_allbox__plus {margin-left: 15px; width: 40px; height: 40px; font-size: 12px; line-height: 15px;}
    .look_container .look_allbox button {height: 43px; font-size: 12px;}


    .qr_container .qr_logo,
    .qr_container .qr_ordernum,
    .qr_container .qr_code {margin: 0 auto 30px;}


    .success_container .success_block {width: auto; margin: 0 20px; padding: 88px 0 100px;}


    .contacts_container .contacts_block {margin: 0 21px;}
    .contacts_container .breadcrumbs {padding: 0 0 10px;}
    .contacts_container h1 {margin: 0 0 40px;}


    .shops_container .shops_block {margin: 0 21px;}
    .shops_container .breadcrumbs {padding: 0 0 10px;}
    .shops_container h1 {margin: 0 0 40px;}
    .shops_container .shops_content {width: 428px;}
    .shops_container .shops_content__inside {padding: 40px 30px;}
    .shops_container .form_v1 .field_wrap {margin: 0 0 40px;}
    .shops_container .shops_mapbox {width: calc(100% - 428px);}
    .shops_container .mappoints_city {margin: 0 0 45px}


    .cards_container .cards_side,
    .cards_container .cards_main {width: calc((100% - 40px)/2);}


    .error404_container .error404_block {padding: 100px 0 160px;}
    .error404_container .error404_img {width: 322px; margin: 0 auto 60px;}
    .error404_container .error404_title {margin: 0 0 15px; font-size: 28px;}
    .error404_container .error404_text {width: 386px; margin: 0 auto 30px;}


    .searchres_container.no_results .searchres_block {padding: 0 0 36px;}


    .favorites_container .favorites_block {padding: 0 0 60px;}
    .favorites_container .breadcrumbs {padding: 0 0 10px;}
    .favorites_container h1 {margin: 0 0 30px;}
    .favorites_container .filters_in {display: block;}
    .favorites_container .favorites_reset {display: none;}
    .favorites_container .filters_options {margin: 0 0 0 auto;}


    .news_container .breadcrumbs {padding: 0 0 10px;}
    .news_container .news_block {padding: 0 0 60px;}
    .news_container h1 {margin: 0 0 30px;}
    .news_container .news_items {margin: 0 0 40px;}
    .news_container .news_item__content {bottom: 40px;}

    .action_container .breadcrumbs {padding: 0 0 30px;}
    .action_container .action_block {padding: 0 0 60px;}
    .action_container .action_content {padding: 40px; margin: 0 0 60px;}
    .action_container .action_content__main {width: calc((100% - 80px)/2);}
    .action_container .action_content__side {width: calc((100% - 80px)/2);}
    .action_container .action_period {width: 100%; margin: 0 0 30px;}
    .action_container .action_where {width: 100%;}


    }

@media screen and (max-width: 1000px) {

    .ui-slider .ui-slider-handle:before {background: #FFF;}


    .product_mini {padding: 0 0 25px; margin: 0 0 20px;}
    .product_mini:last-of-type {margin: 0;}


    .citypop {width: 100vw;}
    .citypop .citypop_body {padding: 20px;}


    .look {width: 100vw;}
    .look_head {font-weight: 500; font-size: 14px; height: 47px; padding: 0 20px;}
    .look_body {padding: 20px 0;}
    .look_top {margin: 0 0 30px;}
    .look_title {font-size: 32px;}
    .look_sliderwrap {width: calc(100% + 10px); margin: 0 -10px 20px 0; padding: 0;}
    .look_sliderwrap .custom_prev {left: 40px;}
    .look_sliderwrap .custom_next {right: 50px;}
    .look_sliderwrap .slide {padding: 0 10px 0 0}
    .look_slide {padding: 0; height: 468px;}
    .look_side {width: 100%;}


    .oneclick {width: 473px;}


    .sizetable {width: 436px;}


    .mobadd_back svg {bottom: 145px;}

    .mobadd_sizes {padding: 20px 0 20px;}
    .mobadd_sizes .product_size {width: calc((100% - 14px * 4)/4); margin: 0 7px;}


    .mobmenu {position: fixed; padding: calc(48px + 20px) 0 calc(85px + 20px); height: 100vh; top: 0; box-sizing: border-box; left: -100vw; width: 100vw; background: #f4f4f4; z-index: 8; display: block; transition: 0.2s;}
    .mobmenu:before {content:""; position: absolute; left: 0; top: 0; right: 0; height: 1px; background: #DCDCDC;}

    .mobmenu .customscroll {padding: 0 5px 0 20px;}
    .mobmenu .customscroll .mCSB_container {margin-right: 22px;}
    .mobmenu .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}

    .mobmenu_lvl1 > li {padding: 18px 0; position: relative; cursor: pointer;}
    .mobmenu_lvl1 > li span {font-weight: 600; font-size: 18px; line-height: 22px; text-transform: uppercase; display: block; transition: 0.5s;}
    .mobmenu_lvl1 > li i {font-weight: normal; font-style: normal;}
    .mobmenu_lvl1 > li svg {position: absolute; right: 0; top: 24px; transition: 0.5s;}

    .mobmenu_lvl2 {position: relative; max-height: 0; transition: 0.5s; overflow: hidden;}
    .mobmenu_lvl2 li {position: relative; margin: 0 0 25px;}
    .mobmenu_lvl2 li:last-of-type {margin: 0;}
    .mobmenu_lvl2 a {color: #424242; font-weight: 500; font-size: 14px; line-height: 17px; text-transform: uppercase;}

    .mobmenu_lvl1 > li.active:hover > span {margin: 0 0 36px;}
    .mobmenu_lvl1 > li.active:hover > svg {transform: scaleY(-1);}
    .mobmenu_lvl1 > li.active:hover .mobmenu_lvl2 {max-height: 2000px; transition: 0.5s;}

    .mob_contacts {position: absolute; height: 86px; bottom: -1px; left: 0; right: 0; z-index: 5; background: #242424;}
    .mob_contacts__top {display: flex; flex-flow: row wrap; justify-content: space-between; border-bottom: 1px solid #2F2F2F;}
    .mob_contacts__top li {width: calc(100% / 3); position: relative;}
    .mob_contacts__top span,
    .mob_contacts__top a {display: flex; align-content: center; align-items: center; justify-content: center; height: 48px;}
    .mob_contacts__city {text-align: center; padding: 11px 0 0 0; position: relative; color: #FFF; font-weight: 500; font-size: 12px; line-height: 13px;}
    .mob_contacts__city span,
    .mob_contacts__city a {color: #FFF; text-decoration: underline;}

    body.mobmenu_active {overflow: hidden;}
    body.mobmenu_active .mobmenu {left: 0;}

    body.action_active .mobmenu {padding-top: calc(77px + 20px);}


    .footer_container {}
    .footer_container .footer_block {padding: 0; margin: 0;}

    .footer_container .footer_top {margin: 0 0 100px; padding: 0 20px;}
    .footer_container .footer_logo {position: relative; margin: 0 0 20px; display: inline-block; vertical-align: top;}
    .footer_container .footer_top__text {font-weight: normal; font-size: 14px; line-height: 160%;}

    .footer_container .footer_body {background: #EFEFEF; padding: 30px 0 0;}

    .footer_container .footer_col {width: 100%; padding: 22px 20px 22px; border-bottom: 1px solid #E1E1E1;}
    .footer_container .footer_col__arrow {display: block; position: absolute; right: 20px; top: 27px; transition: 0.2s;}

    .footer_container .footer_col ul {padding: 22px 0 8px; display: none;}
    .footer_container .footer_col li {margin: 0 0 8px;}
    .footer_container .footer_col li:last-of-type {margin: 0;}
    .footer_container .footer_col li a {font-weight: 500; font-size: 14px; line-height: 17px; color: #5b5b5b;}

    .footer_container .footer_col.active ul {display: block;}
    .footer_container .footer_col.active .footer_col__arrow {transform: scaleY(-1);}

    .footer_container .footer_label {font-size: 14px; line-height: 17px; margin: 0;}

    .footer_container .footer_col:nth-child(1) {order: 2;}
    .footer_container .footer_col:nth-child(2) {order: 3;}
    .footer_container .footer_col:nth-child(3) {order: 4;}

    .footer_container .footer_col:nth-child(4) {order: 1; padding: 0 20px 30px;}
    .footer_container .footer_col:nth-child(4) .footer_label {margin: 0 0 30px;}

    .footer_container .footer_form {top: 0; max-width: none;}

    .footer_container .button svg {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
    .footer_container .button span {display: none;}

    .footer_container .fields {margin: 0 0 20px; padding: 0 159px 0 0;}
    .footer_container .field {height: 56px; border-bottom: 1px solid #E3E3E3; background: #E3E3E3; color: #5b5b5b; font-size: 13px; padding: 0 15px;}
    .footer_container .button_wrap {width: 149px;}
    .footer_container .button {width: 100%; height: 100%; background: #242424;}
    .footer_container .button svg {display: none;}
    .footer_container .button span {display: block; font-weight: 700; font-size: 13px; text-transform: uppercase; color: #FFF;}
    .footer_container .form_agreement {position: relative; font-size: 12px; line-height: 15px; color: #242424; opacity: 0.5;}
    .footer_container .form_agreement a {text-decoration: underline; color: #242424; opacity: 0.5;}
    .footer_container .form_agreement a:hover {text-decoration: none; opacity: 1;}

    .footer_container .footer_bottom {background: #EFEFEF; padding: 40px 20px;}
    .footer_container .footer_copyright {order: 4; color: #5b5b5b; width: 100%;}

    .footer_container .footer_socials {order: 2; width: 100%; padding: 0 0 70px; display: flex;}
    .footer_container .footer_socials li {margin: 0 30px 0 0;}
    .footer_container .footer_socials li:last-of-type {margin: 0;}

    .footer_container .footer_payment {order: 3; width: 100%; display: flex; padding: 0 0 20px; align-items: center; align-content: center;}
    .footer_container .footer_payment li {margin: 0 16px 0 0;}
    .footer_container .footer_payment li:last-of-type {margin: 0;}

    .footer_container .footer_contacts {order: 1; width: 100%; padding: 0 0 30px;}
    .footer_container .footer_contacts a {font-weight: 500; font-size: 32px; line-height: 39px;}


    .filters_top {margin: 0 0 20px;}

    .filters_in {height: 17px;}

    .filters .cards_cols strong,
    .filters .cards_cols .by4 {display: none;}
    .filters .cards_cols .by2 {display: block;}

    .filters_out__back {position: fixed; left: 0; cursor: pointer; top: 0; right: 0; bottom: 0; background: #000; opacity: 0.6; display: none; z-index: 998; transition: 0.3s;}

    .filters_out {position: fixed; width: 436px; left: -436px; right: auto; padding: 70px 0 85px; display: block; top: 0; box-sizing: border-box; height: 100vh; background: #FFF; z-index: 999; transition: 0.3s;}

    .filters_mobhead {display: flex; width: 100%; position: absolute; left: 0; top: 0; padding: 0 20px; height: 50px; font-weight: 500; font-size: 16px; box-sizing: border-box; border-bottom: 1px solid #DCDCDC; align-items: center; align-content: center;}
    .filters_mobhead__title {margin: 0 20px 0 0;}
    .filters_mobhead__reset {cursor: pointer; color: #AAA;}
    .filters_mobhead__close {position: absolute; top: 50%; transform: translateY(-50%); right: 20px; cursor: pointer;}

    .filters_out .filters_customscroll_main {padding: 0 5px 0 20px; height: 100%;}
    .filters_out .filters_customscroll_main .mCSB_container {margin-right: 22px;}
    .filters_out .filters_customscroll_main.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}

    .filters_item {margin: 0; width: 100%; padding: 25px 0 16px; margin: 0; border-bottom: 1px solid #e6e6e6; box-sizing: border-box; position: static;}
    .filters_item:hover .filters_item__out {display: none;}

    .filters_item__label {font-size: 14px; line-height: 14px; color: #242424; padding: 0;}
    .filters_item__label:after {right: 0; width: 8px; height: 18px; background-image: url(/local/templates/main/img/arrow2.svg);}
    .filters_item__chosen {display: block; font-weight: 400; padding: 9px 0 0 0; font-size: 14px; line-height: 17px;}

    .filters_item__resetfav .filters_item__label:after {display: none;}

    .filters_item__out {position: relative; display: none; padding: 0; min-height: 0; border: 0; background: #FFF;}
    .filters_item__out:before {display: none;}
    .filters_item__out .filters_item__show {display: none;}


    .filters_item li {padding-top: 20px; padding-bottom: 20px; border-bottom: 1px solid #e6e6e6; padding-right: 0; box-sizing: border-box; width: 100%;}
    .filters_item li span {display: block; width: 100%; box-sizing: border-box;}
    .filters_item li span:hover:after {opacity: 0;}
    .filters_item li.active span:after {opacity: 1;}

    .filters_item__size .filters_item__out,
    .filters_item__price .filters_item__out,
    .filters_item__color .filters_item__out {width: 100%;}

    .filters_item__cats {display: none;}

    .filters_item__sort {display: block;}

    .filters_item__price {padding: 10px 0 20px;}
    .filters_item__price .filters_item__out {display: block; position: relative; height: auto; top: auto; padding: 0;}
    .filters_item__price .filters_item__label {margin: 0 0 15px;}
    .filters_item__price .pricerange_slider_wrap {height: 35px;}
    .filters_item__price:hover .filters_item__out {display: block;}

    .filters_item__color li {padding-left: 0;}
    .filters_item__color li div {left: 0; width: 10px; height: 10px; box-sizing: border-box;}
    .filters_item__color li span {padding-left: 25px;}

    .filters_item__size li,
    .filters_item__color li,
    .filters_item__fabric li,
    .filters_item__plus li {width: 100%; font-size: 14px; line-height: 14px; margin: 0;}

    .filters .button_apply,
    .filters .show_results {display: none; width: calc(100% - 20px * 2); position: absolute; left: 20px; bottom: 20px; font-weight: 700; z-index: 2;}
    .filters .show_results span {display: inline; vertical-align: baseline;}

    .filters .button_apply {z-index: 1;}

    .filters_item.active {padding: 0; border: 0;}
    .filters_item.active .filters_item__out {display: block; z-index: 6;}
    .filters_item.active .filters_item__label,
    .filters_item.active .filters_item__chosen {display: none;}

    .ui-slider .ui-slider-handle div {width: auto; margin: 0; font-size: 16px;}
    .ui-slider .ui-slider-handle.index_0 div {left: 0; text-align: left;}
    .ui-slider .ui-slider-handle.index_1 div {left: auto; right: 0; text-align: right;}

    body.filters_show .header_container {z-index: 0;}
    body.filters_show .filters_out__back {display: block;}
    body.filters_show .filters_out {left: 0; display: block;}
    body.filters_show .filters_customscroll_main {display: block;}


    .catalog_container .catalog_block {margin: 0 20px;}

    .catalog_items .product,
    .catalog_items.by4 .product:nth-child(4n) {margin-bottom: 60px; margin-right: 20px;}
    .catalog_items.by2 .product {width: calc((100% - 20px )/2);}
    .catalog_items.by2 .product:nth-child(2n) {margin-right: 0;}
    .catalog_items.by3 .product,
    .catalog_items.by4 .product {width: calc((100% - 20px * 2)/3);}
    .catalog_items.by3 .product:nth-child(3n),
    .catalog_items.by4 .product:nth-child(3n) {margin-right: 0;}
    .catalog_items.by2 .product .product_nav {width: 92px;}


    .product_container {padding: 25px 0 50px;}
    .product_container .product_gallery {width: 312px;}
    .product_container .product_gallery__row {display: block}
    .product_container .product_gallery__row.cols_2 .product_gallery__item,
    .product_container .product_gallery__row.cols_3 .product_gallery__item {width: 100%;}
    .product_container .product_gallery__row.cols_2 .product_gallery__itembox,
    .product_container .product_gallery__row.cols_3 .product_gallery__itembox {padding: 0 0 150.002%;}

    .product_container .product_info {width: 380px;}
    .product_container .product_menuitem {padding: 22px 15px 22px;}
    .product_container .product_menuitem.active {padding: 22px 15px 15px;}
    .product_container .product_menuitem br {display: none;}
    .product_container .product_menuitem__title {font-size: 14px; line-height: 17px;}
    .product_container .reviews {width: 100%; margin: 0 0 40px;}
    .product_container .size_satisf {width: 100%;}
    .product_container .review_form {padding: 30px 0 60px;}


    .look_container .block_title {margin: 0 0 25px;}
    .look_container .clook_sliderwrap {position: static;}
    .look_container .custom_slarrows {top: -62px; bottom: auto; right: 0; left: auto;}
    .look_container .custom_slarrow {top: 0; margin-top: 0; width: 50px; height: 40px; background: url('/local/templates/main/img/arrow12.svg') 0 0 no-repeat; background-size: 100% 100%;}
    .look_container .custom_slarrow svg {display: none;}
    .look_container .custom_prev {left: auto; right: 50px;}
    .look_container .custom_next {right: 0; transform: scaleX(-1);}

    .related_container .block_title {margin: 0 0 25px;}


    .cart_container {padding: 0 0 100px;}

    .cart_container .cart_emptybox {padding: 76px 0 0;}
    .cart_container .cart_empty {padding: 0; text-align: center;}
    .cart_container .cart_empty img {position: relative; left: -16px; top: auto; transform: none; margin: 0 auto 58px;}
    .cart_container .cart_empty__actions {width: 386px; margin: 0 auto; display: block;}
    .cart_container .cart_empty__actions .button {width: 100%; margin: 0 0 10px;}


    .qr_container .qr_block {height: auto; display: block; padding: 120px 0 0 0;}

    .qr_container .qr_logo {margin: 0 auto 120px;}
    .qr_container .qr_ordernum,
    .qr_container .qr_code {margin: 0 auto 50px;}

    body.qr .main_layout {padding: 0;}


    .payment_container {display: block; height: auto; padding: 120px 0;}
    .payment_container .payment_logo {margin: 0 auto 35px;}
    .payment_container .payment_ordernum {margin: 0 0 50px;}
    .payment_container .payment_checkboxes {padding: 40px 0;}

    body.payment .main_layout {padding: 0;}


    .success_container .success_block {padding: 40px 0 120px;}
    .success_container .success_title {font-size: 36px;}
    .success_container .success_left {width: 100%; margin: 0 0 10px;}
    .success_container .success_right {width: 100%;}


    body.cart .main_layout {padding-top: 48px;}
    body.cart.action_active .main_layout {padding-top: 77px;}


    .cart_container .cart_block {margin: 0 20px;}
    .cart_container .cart_content {width: 100%; padding: 40px 0 80px;}
    .cart_container .cart_order {width: 100%; padding: 0; border: 0;}
    .cart_container .cart_order__head {padding: 0 0 30px}
    .cart_container .cart_order__headnum {padding: 0 0 30px; top: 50%; right: 0; position: absolute; transform: translateY(-50%);}
    .cart_container .delivery_option {padding: 30px;}
    .cart_container .podeli .podeli_step {width: calc((100% - 10px * 3)/4);}

    .cart_item:before {left: 0;}


    .contacts_container .contacts_top__support {width: 100%; margin: 0 0 10px;}
    .contacts_container .contacts_top__orders {width: 100%;}
    .contacts_container .contacts_body__info {width: 330px;}
    .contacts_container .contacts_body__map {width: calc(100% - 330px);}


    .shops_container {padding-bottom: 100px;}
    .shops_container h1 {font-size: 24px; margin: 0 0 30px;}
    .shops_container h1 .city_select:before {bottom: -9px;}
    .shops_container .shops_content,
    .shops_container .shops_mapbox {height: 1024px;}


    .bought_item {width: 100%;}
    .bought_item__title {padding: 0;}


    .reviews_container .reviews_nocontent {display: block; height: auto; padding: 240px 0 0 0; white-space: nowrap; text-align: center;}
    .reviews_container .reviews_nocontent__title {padding: 0 0 15px;}
    .reviews_container .reviews_nocontent img {width: 154px; position: absolute; left: 50%; transform: translateX(-50%);}
    .reviews_container .reviews_nocontent p {margin: 0; padding: 0; font-size: 15px; line-height: 130%;}


    .profile_form .fields_wrap .field_wrap {margin: 0 30px 0 0; width: calc((100% - 30px )/2);}
    .profile_form .fields_wrap .field_wrap:nth-child(3n) {margin-right: 30px;}
    .profile_form .fields_wrap .field_wrap:nth-child(2n) {margin-right: 0;}

    .profile_form .fields_wrap.group1 {margin: 0 0 20px;}
    .profile_form .fields_wrap.group1 .field_wrap {margin-bottom: 40px;}

    .profile_form .fields_wrap.group2 {width: 100%; margin: 0 0 60px;}
    .profile_form .fields_wrap.group2 .field_wrap {width: calc((100% - 30px )/2); margin: 0 30px 0 0;}
    .profile_form .fields_wrap.group2 .field_wrap:last-of-type {margin: 0;}

    .profile_form .profile_submit {padding: 0; width: 100%;}


    .order.active .order_top {padding-bottom: 30px;}

    .order_content__label:nth-child(1) {width: 298px;}
    .order_content__label:nth-child(2) {width: 100px;}
    .order_content__label:nth-child(3) {width: 76px;}
    .order_content__label:nth-child(4) {width: 100px;}

    .order_item__col1 {width: 298px;}
    .order_item__col2 {width: 100px;}
    .order_item__col3 {width: 76px;}
    .order_item__col4 {width: 100px;}

    .orders_morewrap {padding: 40px 0;}

    .orders_content .order_top__col1,
    .orders_content .order_top__col2,
    .orders_content .order_top__col3,
    .orders_content .order_top__col4,
    .orders_content .order_top__col5,
    .orders_content .order_top__col6 {width: 50%; padding: 0;}

    .orders_content .order_top__col1 {order: 1; margin: 0 0 40px;}
    .orders_content .order_top__col2 {order: 3; margin: 0 0 40px;}
    .orders_content .order_top__col3 {order: 5;}
    .orders_content .order_top__col4 {order: 2; margin: 0 0 40px;}
    .orders_content .order_top__col5 {order: 4;}
    .orders_content .order_top__col6 {order: 6;}


    .returns_content .order_top__col1 {order: 1; margin: 0 0 40px;}
    .returns_content .order_top__col2 {order: 3; margin: 0 0 30px;}
    .returns_content .order_top__col3 {order: 2; margin: 0 0 40px;}
    .returns_content .order_top__col4 {order: 4; margin: 0 0 30px;}
    .returns_content .order_top__col5 {order: 5;}

    .returns_content .order_top__col1,
    .returns_content .order_top__col2,
    .returns_content .order_top__col3,
    .returns_content .order_top__col4,
    .returns_content .order_top__col5 {width: 50%;}


    .reviews_container .reviews_content {padding: 0 40px 40px;}


    .addresses_container .addresses_content {padding: 0 40px 40px;}
    .addresses_container .addresses_side {width: 100%; margin: 0 0 60px;}
    .addresses_container .addresses_side__title {margin: 0 0 20px;}
    .addresses_container .addresses_side__appear {margin: 10px 0 0 0;}
    .addresses_container .address_items {position: relative; display: flex; flex-flow: row wrap; justify-content: flex-start;}
    .addresses_container .address_item {margin: 10px 10px 0 0; width: calc((100% - 10px)/2);}
    .addresses_container .address_item:last-of-type {margin: 10px 10px 0 0;}
    .addresses_container .address_item:nth-child(2n) {margin-right: 0;}

    .addresses_container .addresses_main {width: 100%;}

    .addresses_form {max-width: none;}
    .addresses_form .fields_wrap.group1 .field_wrap {width: calc(100% - 150px - 30px);}
    .addresses_form .fields_wrap.group1 .field_wrap:nth-child(2) {width: 150px;}


    .cards_container .cards_side {width: 100%; margin: 0 0 60px;}
    .cards_container .cards_main {width: 100%;}


    .error404_container {padding-top: 0;}
    body.action_active .error404_container {padding-top: 0;}


    .search_bar {background: #FFF; height: 50px; padding: 0 15px; border-bottom: 1px solid #DCDCDC;}
    .search_bar .search_form__loupe1 {display: none;}
    .search_bar .search_form__loupe2 {display: block; position: absolute; left: 15px; top: 50%; transform: translateY(-50%);}
    .search_bar .search_form__input {padding: 0 0 0 39px; font-size: 14px; line-height: normal; font-weight: 500;}
    .search_bar .search_bar__close {right: 15px;}

    body.mobcats_show .search_bar {z-index: 90;}
    body.mobcats_show .searchres_container {z-index: 99;}
    body.filters_show .searchres_container {z-index: 999;}

    .searchres_container.container {padding-top: 30px;}

    .searchres_container .searchres_title {margin: 0 0 40px;}
    .searchres_container .filters_out {position: fixed; width: 436px; left: -436px; left: -436px; top: 0; padding: 70px 0 85px;}
    .searchres_container .filters_in {display: inline-block;}

    .recommended_container {margin: 0;}
    .recommended_container .block_title {margin: 0 0 30px;}


    .favorites_container .favorites_block {padding: 0 0 80px;}
    .favorites_container .favorites_hint {padding: 0 0 30px; line-height: 160%;}
    .favorites_container .favorites_hint br {display: block;}

    .recently_container.favorites_recently {margin: 0 0 60px;}


    .news_container .news_item {width: calc((100% - 2px)/2);}
    .news_container .news_item:nth-child(4n),
    .news_container .news_item:nth-child(3n) {margin-right: 2px;}
    .news_container .news_item:nth-child(2n) {margin-right: 0;}
    .news_container .news_item__title {font-size: 14px;}
    .news_container .news_item__subtitle,
    .news_container .news_item__text {font-size: 10px;}

    .action_container .action_block {padding: 0 0 80px;}

}

@media screen and (max-width: 750px) {
    body.filters_show {overflow: hidden;}


    .see_our_shops {padding: 60px 0; font-size: 20px;}
    .see_our_shops a:before {bottom: 1px;}


    #cboxContent {padding: 0 35px;}

    .pagination {
        max-width: 100%;
    }

    .pagination_arrows {
        top: 150%;
    }


    .contacts_form .field_wrap {margin: 0 0 30px;}
    .contacts_form textarea.field {height: 250px;}
    .contacts_form .fields_wrap {margin: 0;}
    .contacts_form .fields_wrap .field_wrap {margin: 0 0 30px; width: 100%;}
    .contacts_form .form_buttons {flex-flow: row wrap;}
    .contacts_form .button_wrap {width: 100%; margin: 0 0 10px;}
    .contacts_form .button_wrap:last-of-type {margin: 0;}


    .modal {width: 100%;}
    .modal_head {height: 47px; padding: 0 15px; font-size: 14px;}
    .modal_closeicon {right: 15px; width: 12px;}
    .modal_body {height: calc(100% - 47px);}


    .auth .auth_in {margin: 0 15px 0 0;}
    .auth .customscroll {margin: 0 5px 0 15px;}
    .auth .customscroll .mCSB_container {margin-right: 17px;}
    .auth .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}
    .auth .auth_agreement {font-size: 12px;}
    .auth .auth_iforgot {font-size: 13px;}
    .auth .button_wrap {margin-top: 30px;}
    .auth .signup_error {margin: 0 0 20px; font-size: 12px;}


    .restore .customscroll {margin: 0 5px 0 15px;}
    .restore .customscroll .mCSB_container {margin-right: 17px;}
    .restore .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}
    .restore .button_wrap {margin-top: 30px;}


    .product_mini {padding: 0 0 20px; margin: 0 0 20px;}
    .product_mini:last-of-type {margin: 0; padding: 0 0 20px;}

    .product_mini__imgbox {padding: 0; height: 130px;}

    .product_mini__box {width: calc(100% - 110px - 15px);}
    .product_mini__row {margin: 0 0 6px;}
    .product_mini__article {font-size: 10px; line-height: 110%;}
    .product_mini__priceold {font-size: 10px; line-height: 110%;}
    .product_mini__title {font-size: 12px; line-height: 110%;}
    .product_mini__price {font-size: 12px; line-height: 110%;}

    .product_mini__color {padding: 4px 0 0 0; margin: 0 0 11px;}
    .product_mini__colorchosen i {font-size: 10px;}
    .product_mini__colorlist {top: -9px;}
    .product_mini__colorlist li {font-size: 10px; line-height: 12px;}

    .product_mini__options {margin: 0;}
    .product_mini__sizes {width: 100%; position: relative; display: flex;}
    .product_mini__size {width: 26px; height: 26px; margin: 0 2px 0 0; font-size: 10px;}
    .product_mini__size.active {background: #242424; color: #FFF;}

    .product_mini__actions {width: 100%; padding: 13px 0 0 0; justify-content: flex-start;}
    .product_mini__fav {width: 26px; height: 26px; margin: 0 2px 0 0; order: 2;}
    .product_mini__fav svg {width: 14px; height: 14px; margin: -7px 0 0 -7px;}
    .product_mini__sizereport {width: 26px; height: 26px; margin: 0 2px 0 0; order: 3;}
    .product_mini__tocart {height: 26px; width: 80px; font-size: 10px; order: 1; margin: 0 4px 0 0;}

    .product_mini__info,
    .product_mini__tablein {display: none;}


    .citypop .citypop_body {padding: 10px 15px 20px;}
    .citypop .cityform_input {font-size: 12px;}
    .citypop .cities_list li {font-size: 12px; line-height: 15px;}
    .citypop .cities_found li {margin: 0 0 20px;}
    .citypop .cities_found strong {font-size: 12px; line-height: 110%;}
    .citypop .cities_found p {font-size: 12px; line-height: 110%;}


    .mappoints_head {display: flex;}
    .mappoints_close,
    .mappoints_title {display: none;}
    .mappoints_body {height: calc(100% - 47px); width: 100%;}
    .mappoints_inside {padding: 15px 15px 30px;}
    .mappoints_mobmap_in {height: 413px; margin: 0 -15px; display: block; position: relative;}
    .mappoints_map {width: 100%; height: 100%; bottom: auto;}
    .mappoints_goback {margin: 0 0 15px;}

    .mappoints_city {margin: 0 0 20px; padding: 20px 0 0 0;}
    .mappoints_city__chose {display: block; font-size: 12px; padding: 0; margin: 0; color: #919191; position: absolute; left: 0; top: 0; white-space: nowrap;}
    .mappoints_city svg {display: none;}
    .mappoints_city span {font-size: 13px;}
    .mappoints_city:before {bottom: -4px;}


    .courier .mappoints_city {margin: 0 0 20px;}
    .courier .mappoints_mobmap_in {margin-bottom: 30px;}


    .shoppickup .mappoints_city {margin: 0 0 20px;}
    .shoppickup_item {padding: 30px 0;}
    .shoppickup_item .button_wrap {padding: 30px 0 0 0;}


    .pickuppoint .mappoints_city {margin: 0 0 20px;}
    .pickuppoint .form_v1 {padding: 30px 0 0 0;}
    .pickuppoint .field {padding: 0;}

    .pickuppoint_item {padding: 20px 0 20px;}
    .pickuppoint_item:first-of-type {padding-top: 0; border-top: 0;}
    .pickuppoint_item:last-of-type {padding-bottom: 0;}
    .pickuppoint_item__title,
    .pickuppoint_item__option,
    .pickuppoint_item__date {font-size: 12px;}
    .pickuppoint_item__full {margin: 20px 0 0 0; padding: 20px 0 0 0;}
    .pickuppoint_item__charstitle {font-size: 12px;}
    .pickuppoint_item__chars strong {font-size: 14px;}
    .pickuppoint_item__chars span {font-size: 13px;}
    .pickuppoint_item__hint {margin: 0; top: -5px;}
    .pickuppoint_item:hover .pickuppoint_item__address {font-weight: 500;}

    .mappoints_box.option_view .pickuppoint_item {padding: 30px 0 0 0; border-top: 0;}
    .mappoints_box.option_view .pickuppoint_item__title {font-size: 12px;}
    .mappoints_box.option_view .pickuppoint_item__address {font-size: 15px; margin: 0;}

    .pickuppoint.option_view .customscroll {height: calc(100% - 25px - 60px);}
    .pickuppoint.option_view .select_pickuppoint {left: 15px; width: calc(100% - 15px * 2); bottom: 20px;}


    .instore .instore_shoptitle,
    .instore .mappoints_head__storetitle {display: none;}
    .instore .mappoints_mobmap_in {margin-bottom: 30px;}

    .instore .instore_city__chose {display: block; margin: 0 0 8px; color: #919191; font-size: 12px; line-height: 100%; font-weight: 500;}
    .instore .instore_city {padding: 0; margin: 0 15px 20px;}
    .instore .instore_city span {text-transform: none; letter-spacing: 0;}
    .instore .instore_city svg {display: none;}

    .instore .instore_storeinfo {display: none; margin: 0 15px 30px;}

    .instore .store_title {margin: 0 0 20px; font-size: 18px; line-height: 100%;}
    .instore .store_info {font-size: 13px; line-height: 130%;}
    .instore .store_address {margin: 0 0 20px;}
    .instore .store_worktime {margin: 0 0 4px;}
    .instore .store_phone {margin: 0 0 20px;}

    .instore .instore_pickother {font-size: 13px; line-height: 16px; padding: 0;}
    .instore .instore_pickother svg {display: none;}

    .instore .product_mini {margin: 0;}

    .instore .instore_stores {margin: 30px 0 45px;}

    .instore .instore_store {padding: 0 60px 0 0; height: 76px;}
    .instore .instore_store:last-of-type {border-bottom: 1px solid #E4E4E4;}
    .instore .instore_store strong {margin: 0 0 8px; font-size: 12px; line-height: 130%;}
    .instore .instore_store p {font-size: 12px; line-height: 110%;}
    .instore .instore_store__icon {right: 10px;}

    .instore .instore_orderinfo {padding: 30px 0 0;}

    .instore .instore_button {width: 100%; margin: 0;}

    .instore.store_view .mappoints_inside {padding-top: 25px;}
    .instore.store_view .mappoints_city,
    .instore.store_view .mappoints_head__title {display: none;}
    .instore.store_view .mappoints_head__storetitle {display: block;}


    .look_body {padding: 20px 0;}
    .look_body .customscroll {margin: 0 5px 0 15px;}
    .look_body .customscroll .mCSB_container {margin-right: 17px;}
    .look_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}

    .look_top {margin: 0 0 25px;}

    .look_sliderwrap {width: 100%; margin: 0 0 30px 0;}
    .look_sliderwrap .custom_prev {left: 24px;}
    .look_sliderwrap .custom_next {right: 24px;}
    .look_sliderwrap .slide {padding: 0}
    .look_slide {height: 468px;}

    .look_result {padding: 30px 0 10px;}
    .look_result span {font-size: 20px; line-height: 24px;}
    .look_prices {font-size: 20px; line-height: 24px;}
    .look_priceold {font-size: 16px; line-height: 20px;}


    .nosize_body {padding: 30px 0 20px;}
    .nosize_body__title,
    .nosize_body__subtitle {font-size: 12px; line-height: 15px; margin: 0 0 20px;}
    .nosize_sizes {margin: 0 0 40px;}
    .nosize_size {width: 25%;}
    .nosize_size__title {font-size: 16px;}
    .nosize_body .customscroll {margin: 0 5px 0 15px;}
    .nosize_body .customscroll .mCSB_container {margin-right: 17px;}
    .nosize_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}


    .oneclick .oneclick_body {padding: 20px 0 20px;}
    .oneclick .customscroll {margin: 0 5px 0 15px;}
    .oneclick .customscroll .mCSB_container {margin-right: 17px;}
    .oneclick .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}
    .oneclick .product_mini__sizes {width: 100%;}
    .oneclick .product_mini,
    .oneclick .product_mini:last-of-type {padding-bottom: 20px; margin-bottom: 30px;}


    .partspay .partspay_logo {width: 80px; margin: 0 0 30px;}
    .partspay .partspay_allbanks {margin: 0 0 15px; font-size: 12px; line-height: 16px;}
    .partspay .partspay_title {margin: 0 0 30px; font-size: 18px; line-height: 130%;}
    .partspay .partspay_parts {margin: 0 0 35px;}
    .partspay .partspay_part {width: calc((100% - 5px )/2); margin: 0 5px 5px 0;}
    .partspay .partspay_part:nth-child(2n),
    .partspay .partspay_part:nth-child(4n) {margin-right: 0;}
    .partspay .partspay_part strong {font-size: 20px; line-height: 24px;}

    .partspay .partspay_details {padding: 0 0 30px;}
    .partspay .partspay_details li {padding: 0 0 0 34px; margin: 0 0 10px; font-size: 13px; line-height: 130%;}
    .partspay .partspay_details img {width: 18px;}
    .partspay .partspay_details strong {width: 100%; display: block; font-weight: 700;}

    .partspay .banks_logos img {height: 100%; width: auto;}

    .partspay .partspay_item__title {font-size: 12px; line-height: 18px;}

    .partspay .partspay_item__out {padding: 15px 0 10px;}
    .partspay .partspay_item__out strong {margin: 0 0 6px; font-size: 13px; line-height: 18px;}
    .partspay .partspay_item__out p {margin: 0 0 20px; font-size: 13px; line-height: 18px;}


    .sizetable_item__title {padding: 16px 15px; font-size: 12px; line-height: 15px;}
    .sizetable_item__title:before {right: 15px;}

    .sizetable_item__out table {font-size: 12px;}
    .sizetable_item__out th {height: 56px; font-size: 10px;}
    .sizetable_item__out table.measurements th {font-size: 12px;}
    .sizetable_item__out table.measurements th:first-of-type {width: auto;}
    .sizetable_item__out table.measurements td:first-of-type {width: auto; padding: 0 10px; font-size: 10px;}
    .sizetable_item__out table.measurements br {display: block;}

    .sizetable .chosesize_supertitle {font-size: 16px; line-height: 20px; padding: 20px 15px 30px;}
    .sizetable .chosesize_supertitle.grey {padding-bottom: 25px;}
    .sizetable .chosesize img {width: 140px; margin: 0 30px 30px 10px;}
    .sizetable .chosesize ul {padding: 0 15px 10px}
    .sizetable .chosesize ul strong,
    .sizetable .chosesize ul span {font-size: 12px; line-height: 13px;}
    .sizetable .chosesize ul li {font-size: 12px; line-height: 15px; padding: 0 0 0 19px; margin: 0 0 30px 175px;}
    .sizetable .chosesize ul li.mob_nomargin {margin-left: 0;}
    .sizetable .chosesize ul li p {font-size: 12px; line-height: 15px;}

    .sizetable .trouble {padding: 20px 15px;}
    .sizetable .trouble_title {margin: 0 0 8px; font-size: 10px; line-height: 12px;}
    .sizetable .trouble_subtitle {margin: 0 0 20px;}


    .form_v1 .field_wrap {margin: 0 0 20px;}
    .form_v1 .form_agreement {font-size: 10px; line-height: 12px; margin: 0 0 40px;}
    .form_v1 .field_hint {top: -10px; margin: 0 0 10px; font-size: 12px;}
    .form_agreement_v2 {font-size: 12px;}


    .share {width: 100vw; padding: 20px 15px; left: 0; right: 0; top: auto; bottom: 0; transform: none; box-shadow: none;}
    .share_close {left: auto; right: 15px; top: auto; bottom: 100%; margin-left: 0; margin-bottom: 20px;}
    .share_title {margin: 0 0 17px; font-size: 12px; line-height: 13px;}
    .share_link {margin: 0 0 30px;}
    .share_link__input {height: auto; padding: 0 0 12px 0; width: calc(100% - 40px); font-size: 12px;}
    .share_link__copy {width: 20px; height: 20px;}
    .share_socials__title {font-size: 12px; line-height: 13px;}


    .mobadd_back svg {width: 15px; height: 15px;}


    .mobmenu {padding: calc(45px + 20px) 0 calc(85px + 20px); top: 0;}

    .mobmenu .customscroll {padding: 0 5px 0 15px;}
    .mobmenu .customscroll .mCSB_container {margin-right: 17px;}
    .mobmenu .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}

    .mobmenu_lvl1 > li {padding: 15px 0;}
    .mobmenu_lvl1 > li span {font-size: 15px; line-height: 18px;}
    .mobmenu_lvl1 > li svg {top: 20px; width: 11px;}

    .mobmenu_lvl1 > li.active span,
    .mobmenu_lvl1 > li.active:hover > span {margin: 0 0 25px;}
    .mobmenu_lvl1 > li.active .mobmenu_lvl2 {padding: 0 0 2px;}

    .mobmenu_lvl2 li {margin: 0 0 22px;}
    .mobmenu_lvl2 li:last-of-type {margin: 0;}
    .mobmenu_lvl2 a {font-size: 12px; line-height: 15px;}

    body.mobmenu_active {overflow: hidden;}
    body.mobmenu_active .mobmenu {left: 0;}

    body.action_active .mobmenu {padding-top: calc(72px + 20px);}


    .mobcats_body .customscroll {padding: 0 5px 0 15px;}
    .mobcats_body .customscroll .mCSB_container {margin-right: 17px;}
    .mobcats_body .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}


    .footer_container .footer_top {margin: 0 0 30px; padding: 0 16px;}
    .footer_container .footer_logo {width: 61px;}
    .footer_container .footer_logo svg {width: 100%;}
    .footer_container .footer_top__text {font-size: 12px; line-height: 160%;}

    .footer_container .footer_label {font-size: 12px; line-height: 13px;}
    .footer_container .footer_col {padding: 22px 15px 22px;}
    .footer_container .footer_col li {margin: 0 0 10px;}
    .footer_container .footer_col li a {font-size: 12px; line-height: 15px;}
    .footer_container .footer_col__arrow {width: 11px; right: 18px; top: 25px;}

    .footer_container .footer_col:nth-child(4) {padding: 0 15px 30px;}

    .footer_container .fields {padding: 0 134px 0 0;}
    .footer_container .field {height: 45px; font-size: 12px; padding: 0 10px;}
    .footer_container .button_wrap {width: 124px;}
    .footer_container .button span {font-size: 10px;}
    .footer_container .form_agreement {font-size: 12px; line-height: 12px;}

    .footer_container .footer_bottom {padding: 40px 15px;}
    .footer_container .footer_copyright {font-size: 10px; line-height: 12px;}

    .footer_container .footer_socials {padding: 0 0 50px;}
    .footer_container .footer_socials li {margin: 0 30px 0 0; font-size: 12px; line-height: 13px;}
    .footer_container .footer_socials li:last-of-type {margin: 0;}

    .footer_container .footer_payment {order: 3; width: 100%;  padding: 0 0 20px;}
    .footer_container .footer_payment li {margin: 0 16px 0 0;}
    .footer_container .footer_payment li:last-of-type {margin: 0;}
    .footer_container .footer_payment img {max-height: 13px;}

    .footer_container .footer_contacts a {font-size: 22px; line-height: 27px;}


    .filters_top {margin: 0 0 16px;}

    .filters_mobhead {padding: 0 15px;}
    .filters_mobhead__close {width: 12px; height: 12px; right: 15px;}

    .filters_in {width: 17px; height: 17px; padding: 0;}
    .filters_in span {display: none;}

    .filters .cards_cols .by3 {display: none;}
    .filters .cards_cols .by1 {display: block;}
    .filters .cards_cols i {display: none;}
    .filters .cards_cols u {display: block;}

    .filters_out {width: 100vw; left: -100vw;}

    .filters_out .filters_customscroll_main {padding: 0 5px 0 15px;}
    .filters_out .filters_customscroll_main .mCSB_container {margin-right: 17px;}
    .filters_out .filters_customscroll_main.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}


    .mobcats {left: -100vw; width: 100vw;}


    .catalog_container .catalog_block {margin: 0 15px;}
    .catalog_container .breadcrumbs {padding: 0 0 5px;}

    .catalog_items .product,
    .catalog_items.by3 .product:nth-child(3n),
    .catalog_items.by4 .product:nth-child(3n),
    .catalog_items.by4 .product:nth-child(4n) {margin-bottom: 40px; margin-right: 10px;}


    .catalog_items.by2 .product,
    .catalog_items.by3 .product,
    .catalog_items.by4 .product,
    .catalog_items.by1 .product {width: 100%;}

    .catalog_items.by2 .product { width: calc((100% - 20px )/2); }

    .catalog_items.by2 .product:nth-child(2n),
    .catalog_items.by3 .product:nth-child(2n),
    .catalog_items.by4 .product:nth-child(2n) {margin-right: 0;}

    .catalog_items.by1 .product .product_nav {width: 92px;}
    .catalog_items.by2 .product .product_nav {width: 50px;}


    .product_container {padding: 0 0 42px;}
    .product_container .product_block {margin: 0;}

    .product_container .product_titlebox h1,
    .product_container .product_info .product_sizes_tablein,
    .product_container .product_info .product_tags,
    .product_container .product_info .breadcrumbs,
    .product_container .product_article,
    .product_container .product_sizes .product_sizes__label,
    .product_container .product_sizes .product_sizes__info,
    .product_container .product_gallery__items  {display: none;}

    .product_container .product_gallery {width: 100%;}
    .product_container .product_gallery .breadcrumbs {display: block; padding: 12px 15px; background: #FFF;}

    .product_container .product_goback {position: absolute; left: 16px; top: 18px; cursor: pointer; display: block; z-index: 6;}

    .product_container .product_gallery__sliderwrap {position: relative; display: block;}

    .product_container .product_gallery__item {margin-bottom: 0;}

    .product_container .product_gallery__item:nth-child(1) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(2) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(3) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(4) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(5) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(6) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(7) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(8) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(9) 	.product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(10) .product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(11) .product_gallery__itembox,
    .product_container .product_gallery__item:nth-child(12) .product_gallery__itembox {padding: 0; height: 540px; display: block; width: 100vw;}

    .product_container .product_gallery__tags {left: 15px; right: 15px; top: 15px;}
    .product_container .product_gallery__tags1 {display: flex;}
    .product_container .product_gallery__tags2 {justify-content: flex-start; bottom: 22px; top: auto; right: auto; left: 15px;}
    .product_container .product_gallery__tags2 .product_gallery__tag {margin: 0 10px 10px 0;}

    .product_container .product_gallery__nav {display: block; position: absolute; left: 13px; width: calc(100% - 13px * 2); bottom: 15px; z-index: 3; display: flex;}
    .product_container .product_gallery__navitem {flex: 1; height: 2px; margin: 0 2px; background: rgba(255,255,255,0.25); transition: 0.2s; cursor: pointer;}
    .product_container .product_gallery__navitem.active {background: #FFF;}

    .product_container .product_info {width: 100%; box-sizing: border-box; padding: 0 15px; position: static;}

    .product_container .product_mobpanel {position: fixed; left: 0; right: 0; bottom: 0; background: #FFF; box-sizing: border-box; padding: 15px; z-index: 800; display: flex; flex-flow: row wrap; justify-content: space-between;}

    body.search_active .product_container .product_mobpanel,
    body.mobmenu_active .product_container .product_mobpanel,
    body.footer_visible .product_container .product_mobpanel {display: none;}

    .product_container .product_titlebox {width: 50%; margin: 0 0 15px;}
    .product_container .product_mobtitle {position: relative; font-weight: 500; font-size: 13px; line-height: 100%; white-space: nowrap; display: block; overflow: hidden;}
    .product_container .product_pricebox {width: 50%; margin: 0; padding: 0; justify-content: flex-end;}
    .product_container .product_price,
    .product_container .product_priceold {font-weight: 500; font-size: 13px; line-height: 100%; margin: 0; width: auto; order: 2;}
    .product_container .product_priceold {margin: 0 10px 0 0; order: 1;}

    .product_container .product_mobpanel .product_pricebox span {
        margin:0!important;
        font-size: 13px!important;
    }

    .product_container .product_mob__actions {display: flex; flex-flow: row wrap; justify-content: space-between; width: 100%;}
    .product_container .product_mob__chosensize {width: calc((100% - 10px)/2); box-sizing: border-box; position: relative; padding: 0 35px 0 15px; height: 45px; display: flex; align-content: center; align-items: center; cursor: pointer; background: #FFF; border: 1px solid #E1E1E1;}
    .product_container .product_mob__chosensize svg {position: absolute; right: 15px; margin-right: -2px; top: 50%; transform: translateY(-50%); pointer-events: none;}
    .product_container .product_mob__chosensize span {white-space: nowrap; overflow: hidden; font-weight: 500; font-size: 14px;}
    .product_container .product_mob__actions .button {width: calc((100% - 10px)/2); font-weight: 700; font-size: 12px;}
    .product_container .product_mob__actions .button i {font-style: normal;}
    .product_container .product_mob__actions .button em {display: none; font-style: normal;}
    .product_container .product_mob__actions .button.active i {display: none;}
    .product_container .product_mob__actions .button.active em {display: inline;}
    .product_container .product_mob__actions .button.active,
    .product_container .product_mob__actions .button.active:hover {background: transparent; border: 1px solid #242424; color: #242424;}

    .product_container .product_mobsizesback {position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: #000; z-index: 900; display: none; opacity: 0.6; cursor: pointer;}

    .product_container .product_sizes {position: fixed; left: 0; bottom: -250px; padding: 15px 0; right: 0; background: #FFF; z-index: 901; transition: bottom 0.3s;}
    .product_container .product_sizes .product_mobsizes__close {position: absolute; right: 15px; bottom: 100%; margin-bottom: 15px; cursor: pointer; opacity: 0.25; display: block;}
    .product_container .product_sizes .sizes {position: relative; margin: 0; display: flex; flex-flow: row wrap; justify-content: center; }
    .product_container .product_sizes .product_sizes_tablein {font-size: 13px; line-height: 16px; color: #FFF; position: absolute; left: 15px; bottom: 100%; margin-bottom: 15px; cursor: pointer; display: block;}
    .product_container .product_sizes .product_sizes_tablein:before {content:""; position: absolute; left: 0; bottom: -4px; height: 1px; right: 0; background: url('/local/templates/main/img/punktir.png') 0 0 repeat-x; background-size: auto 100%; transition: 0.2s;}
    .product_container .product_sizes .product_sizes_tablein:hover:before {opacity: 0;}
    .product_container .product_sizes .button {width: calc(100% - 15px * 2); margin: 5px 0 0 15px; font-weight: 700; display: block;}

        .product_container .product_size {
            width: calc((100% - (7px * 2) * 4) / 4);
            color: #242424;
            margin: 0 7px 10px;
            box-sizing: border-box;
            border-radius: 100px;
            padding: 0;
            height: 26px;
            font-size: 12px;
            line-height: 12px;
            border-color: transparent;
            background: transparent;
        }

        .product_container .product_size.active {background: #ededed; border-color: #ededed;}
    .product_container .product_size.disabled {background: transparent; border-color: transparent; color: #c8c8c8;}
    .product_container .product_size span {white-space: nowrap;}

    body.mobsizes_out .product_container .product_mobsizesback {display: block;}
    body.mobsizes_out .product_container .product_sizes {bottom: 0;}

    .product_container .product_color {width: 100%; white-space: nowrap; overflow-x: auto; display: block;}
    .product_container .product_color__label {display: none;}
    .product_container .product_color__item {display: inline-block; vertical-align: top;}
    .product_container .product_color__item:last-of-type {margin-right: 0;}

    .product_container .product_add {box-sizing: border-box; padding: 0 110px 0 0; margin: 0 0 20px;}
    .product_container .product_tocart {display: none;}
    .product_container .product_tofav {top: 0; position: absolute; right: 55px;}
    .product_container .product_oneclick {width: 100%;}
    .product_container .product_share {right: 0; top: 0; position: absolute;}

    .product_container .podeli {margin: 36px -15px 0;}

    .product_container .product_menu {margin: 40px -15px 0;}

    .product_container .product_delivery p {font-size: 12px; line-height: 15px;}
    .product_container .product_delivery strong {font-size: 12px; line-height: 15px; margin: 0 0 5px;}
    .product_container .product_delivery span {font-size: 12px; line-height: 13px;}

    .product_container .product_payment p {font-size: 12px; line-height: 15px;}
    .product_container .product_payment li {margin: 0 0 19px; font-size: 12px; line-height: 15px;}

    .product_container .product_details li {font-size: 12px; line-height: 160%;}
    .product_container .product_details p {font-size: 12px; line-height: 130%;}
    .product_container .product_details__tags {display: block; padding: 0 0 10px; margin: 0 -15px 22px 0; width: calc(100% + 15px); white-space: nowrap; overflow-x: auto;}
    .product_container .product_details__tags span {display: inline-block; vertical-align: top;}
    .product_container .product_madeof {font-size: 14px; line-height: 130%;}
    .product_container .product_care__title {font-size: 12px; line-height: 15px; margin: 0 0 15px;}

    .product_container .product_mobmodal,
    .product_container .product_mobmodal.active {padding: 22px 15px;}
    .product_container .product_mobmodal .product_menuitem__title,
    .product_container .product_mobmodal.active .product_menuitem__title {margin: 0;}

    .product_mobmodal .product_menuitem__content {position: fixed; top: 0; padding: 0 0 20px; box-sizing: border-box; right: -100vw; width: 100vw; background: #FFF; z-index: 990; transition: right 0.2s;}
    .product_mobmodal .product_menuitem__content .m_customscroll {height: calc(100% - 48px - 20px); margin: 0 5px 0 15px;}
    .product_mobmodal .product_menuitem__content .m_customscroll .mCSB_container {margin-right: 17px;}
    .product_mobmodal .product_menuitem__content .m_customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}
    .product_mobmodal .product_menuitem__mobtitle {display: flex; padding: 0 15px; margin: 0 0 20px; font-weight: 500; font-size: 14px; line-height: 17px; position: relative; border-bottom: 1px solid #E1E1E1; align-content: center; align-items: center; justify-content: flex-start; height: 48px;}

    body.reviews_out .product_reviews .product_menuitem__content,
    body.faq_out .product_faq .product_menuitem__content {right: 0;}

    .product_container .size_satisf__marker {background: #FFF; border: 2px solid #FFF;}
    .product_container .review_item__stars img {width: 12px; margin: 0 1px 0 0;}
    .product_container .review_item__author,
    .product_container .faq_item__title {font-size: 15px; line-height: 18px;}
    .product_container .answers_title,
    .product_container .answers_item__text,
    .product_container .review_item__text p,
    .product_container .faq_item p {font-size: 13px;}
    .product_container .answers_item__title {font-size: 13px; line-height: 16px;}
    .product_container .answers_out {display: block;}
    .product_container .answers .answers_title:before {transform: translateY(-50%) scaleY(1);}
    .product_container .answer_useful strong {font-size: 13px; line-height: 16px;}


    .look_container {margin: 0 0 40px;}
    .look_container .clook_sliderwrap {width: calc(100% + 10px); margin: 0 -10px 27px 0;}
    .look_container .clook_sliderwrap .slide {position: relative; padding: 0 10px 0 0;}
    .look_container .custom_slarrows {top: -46px;}
    .look_container .custom_slarrow {width: 30px; height: 24px;}
    .look_container .custom_prev {right: 30px;}

    .look_container .look_allbox {width: 100%; border: 1px solid #D2D2D2;}
    .look_container .look_allbox__wrap {position: relative; padding: 0; z-index: 3; overflow: hidden;}
    .look_container .look_allbox__content {position: relative; height: 75px; left: auto; top: 0; right: 0; bottom: 0; padding: 0;}
    .look_container .look_allbox__imgs {height: 20px; width: 100%;margin: 0 0 10px;}
    .look_container .look_allbox__img {width: 20px; height: 20px; position: relative;}
    .look_container .look_allbox__img:nth-child(1),
    .look_container .look_allbox__img:nth-child(2),
    .look_container .look_allbox__img:nth-child(3),
    .look_container .look_allbox__img.mob_only {left: auto; right: auto; margin: 0 2px; display: block;}
    .look_container .look_allbox__plus,
    .look_container .look_allbox__title,
    .look_container .look_allbox .button_wrap,
    .look_container .look_allbox__wrap:before,
    .look_container .look_allbox__back {display: none;}
    .look_container .look_allbox__mobtitle {display: block; text-align: center; position: relative; width: 100%; font-weight: 600; font-size: 12px; line-height: 15px; color: #5b5b5b; text-transform: uppercase;}

    .related_container {margin: 0 0 40px;}

    .recently_container {margin: 0 0 40px;}
    .recently_container .block_title span {display: none;}


    body.cart .main_layout {padding-top: 45px;}
    body.cart.action_active .main_layout {padding-top: 72px;}


    .cart_container {padding: 0 0 100px;}
    .cart_container .cart_block {margin: 0 15px;}
    .cart_container .cart_content {padding: 20px 0 38px;}
    .cart_container .cart_content__top {padding: 0 35px 0 0;}
    .cart_container .check_all {left: auto; right: 0; width: 18px; height: 18px;}
    .cart_container .cart_title {font-size: 24px;}

    .cart_item {padding: 30px 0 79px 0;}
    .cart_item .cart_item__checkbox {left: auto; right: 0; transform: none; top: 87px; width: 18px; height: 18px;}
    .cart_item .cart_item__content {padding: 0 0 0 125px; min-height: 133px; box-sizing: border-box; position: static;}
    .cart_item .cart_item__top {flex-flow: row wrap; padding-right: 35px;}
    .cart_item .cart_item__img {width: 110px; height: 133px; top: 30px;}
    .cart_item .cart_item__titlewrap {display: block; width: 100%;}
    .cart_item .cart_item__title {font-size: 12px; font-weight: 500; line-height: 130%;}
    .cart_item .cart_item__article {padding: 10px 0 0 0; font-size: 12px; line-height: 110%;}
    .cart_item .cart_item__prices {position: absolute; left: 0; top: 183px; margin: 0; text-align: left;}
    .cart_item .cart_item__price {margin: 0 0 5px; font-size: 13px;}
    .cart_item .cart_item__oldprice {font-size: 10px; line-height: 110%;}
    .cart_item .cart_item__variant {margin: 10px 0 0 0; padding: 0 0 0 10px; font-size: 12px;}
    .cart_item .cart_item__variant span {width: 5px; height: 5px;}
    .cart_item .cart_item__variant em {margin: 0 10px;}
    .cart_item .cart_item__tags {display: none; margin: 0 0 7px;}
    .cart_item .basket_tags {display: none; margin: 0 0 7px;}
    .cart_item .cart_item__tags.mob_only {display: flex;}
    .cart_item .cart_item__tag {padding: 3px 5px; margin: 0 5px 5px 0; font-size: 9px;}
    .cart_item .cart_item__tag.mob_only {display: block}
    .cart_item .cart_item__error {margin: 10px 0 0 0; transition: 0.2s;}
    .cart_item .cart_item__error span {padding: 10px; font-size: 12px; line-height: 125%;}
    .cart_item .cart_item__bottom {position: static; left: auto; bottom: auto;}
    .cart_item .quantity {position: absolute; left: 106px; bottom: 31px;}
    .cart_item .product_fav {bottom: 37px; right: 2px;}
    .cart_item .product_fav svg {width: 14px;}
    .cart_item .cart_item__remove {right: -96px; width: 14px;}
    .cart_item .cart_item__restore {right: -65px; font-size: 12px; line-height: 110%;}
    .cart_item.deleted {padding-right: 100px;}


    .cart_container .cart_order__error {margin: 0 0 30px; font-size: 14px; font-weight: 500; line-height: 130%;}

    .cart_container .cart_order__head {padding: 0 0 38px;}
    .cart_container .cart_order__headtitle {font-size: 0;}
    .cart_container .cart_order__headtitle:before {content:"Заказ"; font-size: 32px; display: block; line-height: 100%;}
    .cart_container .cart_order__headnum {padding-bottom: 45px; font-size: 13px; top: auto; transform: none; bottom: 0;}

    .cart_container .buyer_hint {font-size: 12px;}


    .cart_container .delivery_option {padding: 20px;}
    .cart_container .delivery_option__change {right: 20px; top: 20px;}
    .cart_container .delivery_option__title {margin: 0 0 12px;}
    .cart_container .delivery_option__address {font-size: 12px;}
    .cart_container .delivery_option__list {margin: 0 0 25px;}
    .cart_container .delivery_option__list li {font-size: 12px;}
    .cart_container .delivery_option__status {right: 20px; bottom: 20px; font-size: 12px;}
    .cart_container .delivery_option .metros {max-width: none; margin: 0 0 17px;}

    .cart_container .freedelivery_title {font-size: 13px; line-height: 130%;}



    .cart_container .payment_opts {padding: 30px 0 30px; border-top: 1px solid #E4E4E4; border-bottom: 1px solid #E4E4E4;}
    .cart_container .payment_opts__title {margin: 0 0 20px;}
    .cart_container .payment_opts__hint {font-size: 13px; font-style: italic; padding: 10px 0 0 0; line-height: 130%; position: relative;}

    .cart_container .podeli {margin: 20px 0 10px; display: none;}
    .cart_container .podeli .podeli_steps {margin: 0; flex-flow: row wrap; justify-content: space-between;}
    .cart_container .podeli .podeli_step {width: calc((100% - 10px)/2); margin: 0 0 20px; padding: 0; flex: none;}

    .cart_container .payment_option {margin: 0;}
    .cart_container .payment_option__title {margin: 0 0 4px;}
    .cart_container .payment_option__text {font-size: 12px; line-height: 125%;}
    .cart_container .payment_opts__hint {font-size: 12px; padding: 20px 0 0 0;}

    .cart_container .freedelivery_title br {display: block;}

    .cart_container .cart_codes__title {margin: 0;}
    .cart_container .cart_codes__form {position: relative; padding: 0; display: none;}
    .cart_container .cart_codes__input {padding: 0 100px 0 0; width: 100%; height: 57px; box-sizing: border-box; background: transparent; border: 0; font-size: 14px; border-bottom: 1px solid #AAA;}
    .cart_container .cart_codes__apply,
    .cart_container .cart_codes__change {position: absolute; right: 0; top: 50%; z-index: 3; transform: translateY(-50%); cursor: pointer; font-size: 14px; font-weight: 500; transition: 0.2s;}
    .cart_container .cart_codes__change {display: none;}

    .cart_container .cart_codes__success {display: none; position: relative; padding: 20px 20px; background: #FFF; margin: 20px 0 0 0; flex-flow: row wrap; justify-content: space-between;}
    .cart_container .cart_codes__successtitle {width: 50%; font-size: 15px; font-weight: 600; line-height: 130%; box-sizing: border-box; padding-right: 10px;}
    .cart_container .cart_codes__successtext {width: 50%; font-size: 14px; line-height: 130%; box-sizing: border-box; padding-left: 10px;}
    .cart_container .cart_codes__remove {margin: 20px 0 0 0; font-size: 15px; line-height: 100%; position: relative; transition: 0.2s; display: none;}
    .cart_container .cart_codes__remove span {text-decoration: underline; text-decoration-thickness: 1px; cursor: pointer;}
    .cart_container .cart_codes__remove span:hover {text-decoration: none;}
    .cart_container .cart_codes__error {color: #D62D30; padding: 10px 0 0 0; font-size: 14px; font-weight: 500; line-height: 130%; display: none; transition: 0.2s;}

    .cart_container .cart_codes__successtitle {font-size: 13px; line-height: 130%; padding-right: 5px;}
    .cart_container .cart_codes__successtext {font-size: 13px; line-height: 130%; padding-left: 5px;}
    .cart_container .cart_codes__remove {font-size: 13px;}

    .cart_container .cart_order__calc,
    .cart_container .cart_order__total {padding: 30px 0;}

    .cart_container .cart_order__bottomcol {width: 100%; text-align: center; margin: 0 0 15px;}
    .cart_container .cart_order__bottomcol:last-of-type {margin: 0;}
    .cart_container .cart_order__bottomcol .checkbox {display: inline-block; vertical-align: top;}
    .cart_container .cart_order__bottom .form_agreement {margin: 0; text-align: center;}


    .cart_container .cart_emptybox {padding: 40px 0 0;}
    .cart_container	.cart_empty {padding: 0; text-align: center;}
    .cart_container	.cart_empty img {height: 158px; left: -12px; top: auto; transform: none; margin: 0 auto 50px;}
    .cart_container	.cart_empty__title {font-size: 24px;}
    .cart_container	.cart_empty__text br {display: none;}
    .cart_container	.cart_empty__actions {width: 100%;}


    .qr_container .qr_block {padding: 100px 0 0 0;}

    .qr_container .qr_logo {margin: 0 auto 60px; height: 17px;}
    .qr_container .qr_price {font-size: 32px; margin: 0 0 10px;}
    .qr_container .qr_ordernum {margin: 0 auto 40px;}
    .qr_container .qr_code {margin: 0 auto 40px; width: 180px;}
    .qr_container .qr_hint {font-size: 13px; line-height: 1.3;}
    .qr_container .qr_hint br {display: none;}

    body.cart_qr .main_layout {padding: 0;}

    @media screen and (max-width: 750px) and (max-height: 600px) {

    .qr_container .qr_block {padding: 60px 0 0 0;}

    }


    .payment_container {padding: 100px 0;}
    .payment_container .payment_block {width: auto; margin: 0 15px;}
    .payment_container .payment_logo {height: 17px; margin: 0 auto 60px;}
    .payment_container .payment_price {font-size: 32px; margin: 0 0 10px; }
    .payment_container .payment_ordernum {margin: 0 0 40px;}

    .payment_container .payment_form__box {padding: 20px 20px 1px;}
    .payment_container .field_wrap {margin: 15px 0 30px; position: relative;}
    .payment_container .field_wrap svg {position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 2; cursor: pointer;}
    .payment_container .field_label {font-size: 12px; line-height: 125%; position: absolute; left: 0; bottom: 100%;}
    .payment_container .form_field {height: 60px; padding: 0; font-size: 17px; width: 100%; box-sizing: border-box; font-weight: 500; background: transparent; border: 0; border-bottom: 1px solid #AAA; transition: 0.2s;}

    .payment_container .payment_checkboxes {padding: 20px 0;}
    .payment_container .payment_checkboxes__left {width: 100%; margin: 0 0 20px;}
    .payment_container .payment_checkboxes__right {width: 100%; text-align: left;}


    .success_container .success_block {margin: 0 15px; padding: 40px 0 0;}
    .success_container .success_ordernum {margin: 0 0 10px; text-align: center;}
    .success_container .success_title {margin: 0 0 30px; font-size: 32px; text-align: center;}
    .success_container .success_left {padding: 20px 20px 30px;}
    .success_container .success_item {margin: 0 0 25px;}
    .success_container .success_item:last-of-type {margin: 0;}
    .success_container .success_item__head strong {font-size: 13px; line-height: 130%;}
    .success_container .success_item p {margin: 0; padding: 5px 0 0 39px;}
    .success_container .success_right {padding: 20px;}


    .contacts_container .contacts_block {margin: 0 15px;}
    .contacts_container .breadcrumbs {padding: 0 0 5px;}
    .contacts_container h1 {margin: 0 0 34px;}
    .contacts_container .contacts_box {padding: 30px;}
    .contacts_container .contacts_socials {display: none;}
    .contacts_container .contacts_formbox__title {margin: 0 0 40px;}
    .contacts_container .contacts_title {font-size: 10px; margin: 0 0 30px;}
    .contacts_container .contacts_list__label {font-size: 12px;}
    .contacts_container .contacts_list p {font-size: 14px;}
    .contacts_container .contacts_body__info {width: 100%; order: 2;}
    .contacts_container .contacts_body__map {width: 100%; height: 390px; order: 1;}
    .contacts_container .contacts_formbox {padding: 30px;}
    .contacts_container .contacts_formbox__title {font-size: 20px; margin: 0 0 30px;}


    .shops_container {padding-bottom: 60px;}
    .shops_container .shops_block {margin: 0 15px;}
    .shops_container .breadcrumbs {padding: 0 0 5px;}
    .shops_container h1 {margin: 0 0 15px; line-height: 24px;}
    .shops_container h1 .city_select {display: none;}
    .shops_container .shops_nav {margin: 0 0 34px;}
    .shops_container .shops_nav__item {margin: 0 8px; font-size: 12px;}
    .shops_container .shops_content {height: auto;}
    .shops_container .nomob_customscroll {height: auto; overflow-x: inherit;}
    .shops_container .mCSB_scrollTools {display: none !important;}
    .shops_container .shops_content__inside {padding: 15px 15px;}
    .shops_container .form_v1 .field_wrap {margin: 0 0 20px;}
    .shops_container .shops_showmore {display: block; margin: 20px 0;}

    .shops_container .mappoints_goback {margin: 0 0 15px;}

    .shops_container .mappoints_city {padding: 0; margin: 0 0 20px;}
    .shops_container .mappoints_city__chose {margin: 0 0 8px; text-transform: none; font-weight: 500; position: relative;}
    .shops_container .mappoints_city svg {top: 35px; transform: none;}
    .shops_container .mappoints_city span {font-size: 13px; font-weight: 400;}
    .shops_container .mappoints_city:before {bottom: -3px; background-image: url('/local/templates/main/img/punktir.png');}

    .shops_container .shoppickup_item {padding: 30px 0 22px; border: 0; border-bottom: 1px solid #E4E4E4;}
    .shops_container .shoppickup_item:last-of-type {border: 0;}
    .shops_container .shoppickup_item__outlet {position: relative; margin: 0 0 15px; width: 54px; height: 14px; background-image: url('/local/templates/main/img/outlet2.svg'); background-size: 100% auto; right: auto; top: auto; transform: none;}
    .shops_container .shoppickup_item__address {margin-right: 0; font-size: 15px;}
    .shops_container .shoppickup_item__worktime {font-size: 13px;}

    .shops_container .shops_mapbox {display: none;}
    .shops_container .shops_mobmapbox {display: block; height: 390px; position: relative; margin: 0 -15px 30px;}
    .shops_container .mappoints_mobmap_in {margin: 0; height: 100%; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}


    .shops_out.option_view .shoppickup_item__title,
    .shops_out.option_view .shoppickup_item__outlet {display: none;}
    .shops_out.option_view .shoppickup_item__shoptype {display: block; font-size: 14px; margin: 0 0 30px;}
    .shops_out.option_view .pick_options {margin-bottom: 20px;}

    .shops_out.option_view .optionview_item.checked {padding: 0;}
    .shops_out.option_view .pickuppoint_item__fulltitle {display: none;}
    .shops_out.option_view .pickuppoint_item__full {padding: 0;}



    .account_nav {padding: 0 30px; position: relative;}
    .account_nav__over {overflow: hidden; white-space: nowrap; position: relative; height: 60px;}
    .account_nav__list {position: absolute; left: 0; top: 20px; padding: 0; transition: 0.3s;}
    .account_nav__item {white-space: nowrap; margin: 0 30px 0 0; padding: 0 0 26px;}
    .account_nav__item a {font-size: 12px;}
    .account_nav__arrow {position: absolute; top: 0; cursor: pointer; display: block; z-index: 3; background: #FFF;}
    .account_nav__arrow.disabled {visibility: hidden;}
    .account_nav__prev {left: 0; transform: scaleX(-1);}
    .account_nav__next {right: 0;}

    .account_head__title {font-size: 20px; font-weight: 500;}


    .bought_itemsbox {padding: 90px 0 1px;}

    .bought_item {padding: 40px 0 65px 140px; border: 0;}
    .bought_item__img {top: 40px; width: 120px; height: 145px;}
    .bought_item__info {position: static; min-height: 145px; padding: 0;}
    .bought_item__title {font-size: 12px; margin: 0 0 10px; padding-right: 0;}
    .bought_item__article {margin: 0 0 10px; font-size: 12px;}
    .bought_item__variant {padding: 0 0 0 10px; margin: 0 0 12px; font-size: 12px;}
    .bought_item__variant span {width: 5px; height: 5px;}
    .bought_item__variant em {margin: 0 10px;}
    .bought_item__price {font-size: 13px;}
    .bought_item__showform,
    .bought_item__showform:hover {padding: 0 20px; width: 100%; box-sizing: border-box; left: 0; bottom: 0; background: #F4F4F4; border-color: #F4F4F4; color: #242424;}


    .profile_container .account_head {padding: 30px 30px;}
    .profile_container .profile_content {padding: 0 30px 30px;}
    .profile_container .profile_grouplabel {font-size: 12px; margin: 0 0 40px;}

    .profile_form .fields_wrap .field_wrap {margin: 0 0 30px; width: 100%;}
    .profile_form .fields_wrap .field_wrap:nth-child(3n),
    .profile_form .fields_wrap .field_wrap:nth-child(2n) {margin-right: 0;}

    .profile_form .fields_wrap.group1 {margin: 0 0 40px;}
    .profile_form .fields_wrap.group1 .field_wrap {margin-bottom: 30px;}
    .profile_form .fields_wrap.group1 .field_wrap:last-of-type {margin: 10px 0 0;}

    .profile_form .fields_wrap.group2 {width: 100%; margin: 0 0 40px;}
    .profile_form .fields_wrap.group2 .field_wrap {width: 100%; margin: 0 0 30px;}
    .profile_form .fields_wrap.group2 .field_wrap:last-of-type {margin: 0;}

    .profile_form .profile_subscribe {margin: 0 0 40px;}
    .profile_form .profile_deletewrap {padding: 40px 0 0 0;}



    .orders_container .account_head {padding: 30px 30px 10px;}

    .orders_container .orders_content {border: 0; padding: 0 30px;}

    .order {border-bottom: 1px solid #E4E4E4;}
    .order_content {padding: 0; border-top: 1px solid #AAA;}

    .order_top {padding: 20px 0 0 0;}
    .order_top__title {margin: 0 0 10px; font-size: 10px;}
    .order_top__title em {display: inline; text-transform: none;}

    .order_top span,
    .order_status,
    .order_date,
    .order_payment,
    .order_deliverytype {font-size: 12px; margin: 0 0 10px;}

    .order_top__col {display: none;}

    .order_top__col1 {margin: 0 0 20px; display: block; width: 100%;}
    .order_top__col1 .order_top__title {font-size: 14px; margin: 0 0 10px;}
    .order_top__col1 span {display: none;}
    .order_top__col1 .order_status {margin: 0;}

    .order_showdetails {position: absolute; width: 32px; height: 32px; right: 0; top: 50%; transform: translateY(-50%) rotate(270deg); padding: 0;}

    .order_content__head {display: none;}

    .order_product {padding: 0 0 0 104px; min-height: 110px; margin: 0 0 40px;}
    .order_product__img {width: 74px; height: 110px;}

    .order_item__collabel {display: block; margin: 0 0 20px; color: #919191; font-size: 12px; font-weight: 600; line-height: 130%;}

    .order_item__col1 {width: 100%;}
    .order_item__col2 {width: 76px;}
    .order_item__col3 {width: 76px;}
    .order_item__col4 {width: 76px;}

    .order.active {background: transparent;}
    .order.active .order_showdetails {display: none;}
    .order.active .order_top__col {display: block;}
    .order.active .order_top__col1 {margin: 0 0 30px; padding: 0;}
    .order.active .order_top__col1 .order_status {margin: 0 0 10px;}
    .order.active .order_top__col1 span,
    .order.active .order_top__col3 span,
    .order.active .order_top__col4 span {display: block; margin: 0;}
    .order.active .order_top__title em {display: none;}

    .order.active .order_top__col2 .order_date {margin: 0;}

    .orders_more {width: 100%; padding: 0;}

    .orders_content .order_top__col1 {width: 100%; margin: 0 0 20px;}
    .orders_content .order_top__col2 {order: 2; width: 100%; margin: 0 0 30px;}
    .orders_content .order_top__col3 {order: 3; width: 100%; margin: 0 0 30px;}
    .orders_content .order_top__col4 {order: 4; width: 100%; margin: 0 0 30px;}
    .orders_content .order_top__col5 {order: 5; width: 100%; margin: 0 0 30px;}
    .orders_content .order_top__col6 {order: 6; width: 100%;}


    body.order_details .account_head__tohide {display: none;}
    body.order_details .account_head__goback {display: block; position: relative; z-index: 2;}
    body.order_details .order {display: none; border-bottom: 0; padding-bottom: 40px;}
    body.order_details .order.active {display: block;}
    body.order_details .orders_morewrap {display: none;}



    .returns_container .account_head {padding: 30px 30px 10px;}
    .returns_container .account_head__text {padding: 20px 0 30px; font-size: 13px;}
    .returns_container .account_head .button {width: 100%; margin: 0 0 10px;}
    .returns_container .account_head .button em {display: none;}
    .returns_container .account_head .button:last-of-type {margin: 0;}

    .returns_container .returns_content {border: 0; padding: 0 30px;}
    .returns_container .returns_yourreturns {padding: 60px 0 0 0; font-size: 12px; top: 0;}

    .returns_content .order_top__col1,
    .returns_content .order_top__col2,
    .returns_content .order_top__col3,
    .returns_content .order_top__col4,
    .returns_content .order_top__col5 {width: 100%;}

    .returns_content .order_top__col1 {margin: 0 0 20px;}
    .returns_content .order_top__col3 {margin: 0 0 30px;}
    .returns_content .order_top__col3 .order_payment {margin: 0;}

    .returns_content .order .order_top__col1 span {display: none;}
    .returns_content .order .order_top__col1 .order_date {margin: 0;}
    .returns_content .order.active .order_top__col1 span {display: block;}
    .returns_content .order.active .order_top__col1 .order_date {margin: 0 0 12px;}


    .reviews_container .account_head {padding: 30px 30px;}
    .reviews_container .reviews_content {padding: 0 30px 40px;}
    .reviews_container .reviews_nav__item {font-size: 12px;}

    .reviews_content .review_item__date {font-size: 12px;}
    .reviews_content .question_item__date {position: relative; right: auto; top: auto; margin: 0 0 15px;}

    .reviews_container .reviews_nocontent {padding: 180px 0 0 0; white-space: normal;}
    .reviews_container .reviews_nocontent__title {padding: 0 0 15px 0; font-size: 20px;}
    .reviews_container .reviews_nocontent img {width: auto; height: 130px;}
    .reviews_container .reviews_nocontent p {font-size: 13px;}
    .reviews_container .reviews_nocontent br {display: none;}


    .addresses_container .account_head {padding: 30px 30px;}
    .addresses_container .addresses_content {padding: 0 30px 30px;}
    .addresses_container .addresses_side {margin: 0 0 40px;}
    .addresses_container .addresses_side__title {font-size: 12px;}
    .addresses_container .addresses_side__appear {font-size: 13px;}

    .addresses_container .address_item,
    .addresses_container .address_item:last-of-type,
    .addresses_container .address_item:nth-child(2n) {margin: 10px 0 0 0; width: 100%;}
    .addresses_container .address_item__title {font-size: 12px;}
    .addresses_container .address_item__address {font-size: 12px;}
    .addresses_container .address_item__status {font-size: 12px;}

    .addresses_form .addresses_grouplabel {font-size: 12px;}
    .addresses_form .fields_wrap.group1 .field_wrap {width: calc(100% - 60px - 30px);}
    .addresses_form .fields_wrap.group1 .field_wrap:nth-child(2) {width: 60px;}



    .cards_container .account_head {padding: 30px 30px;}
    .cards_container .cards_content {padding: 0 30px 40px;}

    .cards_container .cards_side {width: 100%; margin: 0 0 40px;}
    .cards_container .cards_side__title {font-size: 12px; margin: 0 0 30px;}
    .cards_container .cards_side__appear {font-size: 13px;}

    .cards_container .card_item {height: 58px;}
    .cards_container .card_item__title {font-size: 12px;}

    .cards_container .cards_main {width: 100%;}

    .cards_form .cards_grouplabel {font-size: 12px;}
    .cards_form .field_label {display: none;}
    .cards_form .fields_wrap.group1 {margin: 0 0 30px; padding: 20px;}
    .cards_form .field {font-size: 14px;}
    .cards_form .form_agreement {font-size: 12px;}


    .error404_container .error404_block {padding: 50px 0 80px;}
    .error404_container .error404_img {width: 200px; margin: 0 auto 30px;}
    .error404_container .error404_title {font-size: 20px;}
    .error404_container .error404_text {font-size: 13px; width: auto;}


    .search_bar {height: 46px;}
    .search_bar .search_form__loupe2 {width: 16px; height: 16px;}
    .search_bar .search_form__input {padding: 0 0 0 31px; font-size: 12px;}
    .search_bar .search_bar__close svg {width: 12px; height: 12px;}

    .searchres_container.container {padding-top: 20px;}
    .searchres_container .searchres_title {font-size: 14px; margin: 0 0 30px; text-align: center;}
    .searchres_container .searchres_title span {display: block;}
    .searchres_container .searchres_notext {font-size: 12px; text-align: center;}

    .searchres_container .filters_out {width: 100vw; left: -100vw;}

    .searchres_container.no_results .searchres_block {padding: 0 0 40px;}

    .recommended_container {margin: 0 0 20px;}
    .recommended_container .go_section {display: none;}
    .recommended_container .block_title {margin: 0 0 20px;}

    .favorites_container .favorites_block {padding: 0 0 40px;}
    .favorites_container .breadcrumbs {padding: 0 0 5px;}
    .favorites_container .favorites_more {width: 100%;}
    .favorites_container .favorites_hint {font-size: 14px; line-height: 130%;}
    .favorites_container .favorites_hint br {display: none;}
    .favorites_container .favorites_hint svg {display: block; clear: both; margin: 10px auto 8px;}


    .news_container .news_block {padding: 0 0 40px;}
    .news_container .breadcrumbs {padding: 0 0 5px;}
    .news_container h1 {margin: 0 0 15px;}
    .news_container .news_nav {margin: 0 0 32px;}
    .news_container .news_nav__item {margin: 0 8px; font-size: 12px;}

    .news_container .news_items {padding: 0;}
    .news_container .news_item,
    .news_container .news_item:nth-child(4n),
    .news_container .news_item:nth-child(3n),
    .news_container .news_item:nth-child(2n) {width: 100%; margin: 0 0 2px;}
    .news_container .news_item:last-of-type {margin: 0;}
    .news_container .news_item__title {font-size: 12px; min-width: 187px;}
    .news_container .news_more {width: 100%;}


    .action_container .action_block {padding: 0 0 60px;}
    .action_container .action_content {padding: 30px; margin: 0 0 40px;}
    .action_container .action_content__main {width: 100%; margin: 0 0 40px;}
    .action_container .action_title {margin: 0 0 15px;}
    .action_container .action_subtitle {margin: 0 0 20px;}
    .action_container .action_details {width: 100%;}
    .action_container .action_content__side {width: 100%;}
    .action_container .action_period {margin: 0 0 8px;}
    .action_container .action_period__title {font-size: 14px; font-weight: 600; line-height: 130%; margin: 0; display: inline;}
    .action_container .action_period__title span {display: none;}
    .action_container .action_period__title strong {display: inline;}
    .action_container .action_period__date {margin: 0; display: inline;}
    .action_container .action_period__left {display: none;}
    .action_container .action_where__title {font-size: 14px; font-weight: 600; line-height: 130%; margin: 0; display: inline;}
    .action_container .action_where__title span {display: none;}
    .action_container .action_where__title strong {display: inline;}
    .action_container .action_where ul {display: inline;}
    .action_container .action_where li {display: inline; padding: 0; margin: 0; text-transform: lowercase;}
    .action_container .action_where li:after {content:", ";}
    .action_container .action_where li:last-of-type:after {display: none;}
    .action_container .action_where li img {display: none;}
    .action_container .show_more {width: 100%;}
}

