
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

body {position: relative; font-family: 'Montserrat','Arial', sans-serif; font-size: 14px; line-height: 1.0; background: #f4f4f4; color: #242424; overflow: auto; min-width: 100%; min-height: 100%; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust:none; text-size-adjust:none; -ms-text-size-adjust:none; -webkit-tap-highlight-color: transparent;}

body.universal_modal__out .universal_modal__backclose {display: block;}

button,
textarea,
select,
input {font-family: 'Montserrat','Arial', sans-serif; font-size: 16px; line-height: 1.0; color: #000; outline: none !important; -webkit-appearance: none; box-shadow: none; border-radius: 0;}

input:disabled,
textarea:disabled {opacity: 1;}

ul, ol, li {list-style-type:none; padding: 0; margin: 0;}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  color: inherit;
}

h1 {position: relative; font-weight: 500; font-size: 48px; line-height: 100%; margin: 0 0 40px;}

h2,
.block_title {position: relative; margin: 0 0 35px; font-weight: 500; font-size: 2.50vw; line-height: 100%;}

svg {transition: 0.2s; -webkit-transform: translate3d(0,0,0);}

iframe {display: block; margin: 0 auto;}

.alert {position: fixed; display: none; left: 50%; transform: translateX(-50%); padding: 20px 20px; font-size: 14px; line-height: 130%; background: #242424; color: #FFF; text-align: center; z-index: 9999; box-sizing: border-box;}

.alert_top {top: 63px;}

.alert_bottom {bottom: 40px;}

body.action_active .alert_top {top: 104px;}

.banner {position: relative; margin: 0 0 5.21vw; display: block;}

.block {margin: 0 25px; box-sizing: border-box; position: relative;}

.back_img {position: absolute; left: 0; top: 0; width: 100%; bottom: 0; z-index: 1; overflow: hidden;}
.back_img img,
.back_img source {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  z-index: 1;
}

.cart_item__img .back_img img, .cart_item__img .back_img source {
  object-fit: contain!important;
}



.back_img__relative {position: relative; left: auto; top: auto; bottom: auto; width: 100%;}
.back_img__relative img,
.back_img__relative source {position: relative; display: block; left: auto; top: auto; width: 100%; height: auto; object-fit: initial; object-position: 0 0;}

.block_top {position: relative;}

.breadcrumbs {position: relative; font-size: 12px; line-height: 15px; display: flex;}
.breadcrumbs a {color: #242424; opacity: 0.5; transition: 0.2s;}
.breadcrumbs a:hover {opacity: 1;}
.breadcrumbs i {font-style: normal; margin: 0 10px; font-weight: 500; font-size: 10px; line-height: 12px; text-transform: uppercase; color: #242424; opacity: 0.5;}
.breadcrumbs span {color: #242424;}

.button_wrap {position: relative;}
.button_wrap .agreement_cover {position: absolute; left: 0; top: 0; right: 0; bottom: 0; cursor: pointer; z-index: 4; display: none;}

.button a {position: relative; width: 100%; height: 100%; display: flex; align-content: center; align-items: center; justify-content: center; text-align: center;}

.button {display: inline-block; box-sizing: border-box; height: 45px; font-weight: 500; font-size: 12px; line-height: 15px; text-transform: uppercase; vertical-align: top; align-items: center; justify-content: center; position: relative; text-align: center; border: 0; margin: 0; padding: 0; line-height: 1.0; transition: 0.2s;}
.button:hover {cursor: pointer;}
.button span {display: inline-block; vertical-align: middle; position: relative; transition: 0.2s; z-index: 4; font-weight: 700;}

.button_tr {background: transparent; border: 1px solid #D2D2D2; color: #242424;}
.button_tr:hover {background: #242424; border-color: #242424; color: #FFF;}
.button_tr a {color: #242424;}
.button_tr a:hover {color: #FFF;}

.button_black {background: #242424; border: 1px solid #242424; color: #FFF;}
.button_black a,
.button_black a:hover {color: #FFF;}

.button_black.disabled {background: #EBEBEB; border: 1px solid #EBEBEB; color: #AAA;}
.button_black.disabled a,
.button_black.disabled a:hover {color: #AAA;}

.button_black_tr {background: transparent; border: 1px solid #242424; color: #242424;}
.button_black_tr:hover {background: #242424; border-color: #242424; color: #FFF;}
.button_black_tr a {color: #242424;}
.button_black_tr a:hover {color: #FFF;}

.button_white_tr {background: transparent; border: 1px solid #FFF; color: #FFF;}
.button_white_tr:hover {background: #242424; border-color: #242424; color: #FFF;}
.button_white_tr,
.button_white_tr a:hover {color: #FFF;}

.container {position: relative; box-sizing: border-box;}

.container.pagetype1 {padding-top: 103px;}
.container.pagetype2 {padding-top: 103px; padding-bottom: 160px;}

body.action_active .container.pagetype1,
body.action_active .container.pagetype2 {padding-top: 163px;}

.customscroll {overflow: hidden; height: 100%;}

.go_section {position: absolute; right: 0; top: 50%; transform: translateY(-50%); padding: 0 30px 0 0; font-weight: 500; font-size: 14px; z-index: 2; text-transform: uppercase; color: #242424;}
.go_section svg {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.go_section:hover {text-decoration: underline;}

.hint {position: absolute; padding: 20px; right: 15px; top: 100%; margin-top: 20px; width: 267px; color: #242424; text-align: left; white-space: normal; display: none; box-sizing: border-box; z-index: 2; background: #FFF; box-shadow: 0px 5px 40px rgba(36, 36, 36, 0.15);}
.hint:before {content:""; position: absolute; right: 0; bottom: 100%; border-width: 0 0 23px 15px; border-style: solid; border-color: #FFF transparent;}
.hint_title {margin: 0 0 10px; font-weight: 700; font-size: 12px; line-height: 13px; text-transform: uppercase;}
.hint_text {font-size: 13px; font-weight: normal; line-height: 130%; opacity: 0.85;}
.hint_text span {text-decoration: underline;}
.hint_text span:hover {text-decoration: none; cursor: pointer;}
.hint_text strong {font-weight: 600;}
.hint_close {position: absolute; right: 25px; top: 15px; cursor: pointer; z-index: 3;}

.item_w_hint {position: relative;}
.item_w_hint.active .hint {display: block;}
.item_w_hint__title {cursor: pointer;}

.main_layout {padding: 0; position: relative; overflow: hidden;}

.map_nav {position: absolute; left: 20px; top: 20px; z-index: 5; display: flex;}
.map_nav__item {height: 31px; padding: 0 15px; font-size: 12px; font-weight: 400; display: flex; cursor: pointer; margin: 0 10px 0 0; border: 0; color: #242424; background: #FFF; border-radius: 50px; transition: 0.2s; align-items: center; align-content: center; justify-content: center;}
.map_nav__item svg {margin: 0 8px 0 0;}
.map_nav__item path {fill: #242424; transition: 0.2s;}
.map_nav__item:hover,
.map_nav__item.active {background: #242424; color: #FFF;}
.map_nav__item:hover path,
.map_nav__item.active path {fill: #FFF;}

.metros {position: relative; display: flex; flex-flow: row wrap;}
.metro {position: relative; padding: 0 0 0 16px; margin: 0 15px 8px 0; font-size: 13px; line-height: 110%; color: #5b5b5b;}
.metro span {position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 8px; height: 8px; border-radius: 50%;}

.pagination_box {
  position: relative;
  margin-bottom: 2em;
  padding: 0 60px 0 0;
  height: 35px;
  display: flex;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
}

.pagination {position: relative; display: flex;}
.pagination li {width: 28px; margin: 0 40px 0 0; font-size: 14px; font-weight: 600; line-height: 110%;}
.pagination li a {color: #9c9c9c; transition: 0.2s;}
.pagination li a:hover,
.pagination li span,
.pagination li.active a {color: #242424;}

.pagination_arrows {position: absolute; right: 0; top: 50%; width: 49px; transform: translateY(-50%); height: 17px;}
.pagination_arrows .pagination_arrow {position: absolute; display: block; top: 0; width: 17px; height: 17px; background: transparent; transition: 0.2s; border: 0; font-size: 0; z-index: 4;}
.pagination_arrows .pagination_arrow svg {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.pagination_arrows .pagination_arrow:hover {cursor: pointer;}
.pagination_arrows .pagination_arrow.disabled {opacity: 0.5;}
.pagination_arrows .pagination_arrow.disabled:hover {cursor: default;}
.pagination_arrows .pagination_prev {left: 0;}
.pagination_arrows .pagination_next {right: 0; transform: scaleX(-1);}

.pick_options {position: relative; margin-right: -15px;}
.pick_options li {position: relative; display: inline-block; vertical-align: top; margin: 0 12px 10px 0; padding: 0 0 0 19px; font-size: 12px; font-weight: 400;}
.pick_options li img {position: absolute; left: 0; top: 50%; transform: translateY(-50%);}

.pick_chars {position: relative;}
.pick_chars li {margin: 0 0 25px;}
.pick_chars li:last-of-type {margin: 0;}
.pick_chars__label {color: #7c7c7c; font-size: 14px; font-weight: 400; line-height: 110%; margin: 0 0 7px;}
.pick_chars li p {margin: 0; padding: 0; font-size: 16px; font-weight: 400; line-height: 130%;}
.pick_chars li a {color: #242424;}

.pick_photos {position: relative; padding: 20px 0 0 0; display: flex; flex-flow: row wrap; justify-content: flex-start;}
.pick_photo {width: calc((100% - 30px * 2)/3); margin: 20px 30px 0 0; position: relative;}
.pick_photo:nth-child(3n) {margin-right: 0;}
.pick_photo div {position: relative; width: 100%; padding: 0 0 100%; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%;}


.podeli {position: relative; padding: 25px; background: #FFF; cursor: pointer;}
.podeli .podeli_logo {position: relative; width: 186px; margin: 0 0 26px;}
.podeli .podeli_calc {position: absolute; right: 25px; top: 25px; padding: 0 24px 0 0; font-weight: 500; font-size: 12px; line-height: 130%;}
.podeli .podeli_calc svg {position: absolute; right: 0; width: 14px; height: 14px; top: 50%; transform: translateY(-50%);}
.podeli .podeli_calc g {fill: #242424;}
.podeli .podeli_steps {display: flex; position: relative; margin: 0 -10px 0 0;}
.podeli .podeli_step {flex: 1; position: relative; padding: 0 10px 0 0; box-sizing: border-box;}
.podeli .podeli_step__date {position: relative; margin: 0 0 5px; font-weight: 500; font-size: 12px; line-height: 130%; color: #242424; opacity: 0.35;}
.podeli .podeli_step__sum {position: relative; font-weight: 500; margin: 0 0 15px; font-size: 14px; line-height: 100%;}
.podeli .podeli_step__line {height: 6px; width: 100%; background: #dbdbdb;}
.podeli .podeli_step.active .podeli_step__line {background: #242424;}

.product_fav {position: relative; cursor: pointer;}
.product_fav svg {cursor: pointer;}
.product_fav .fav_active {position: absolute; right: 0; top: 0; opacity: 0; z-index: 2;}
.product_fav.active .fav_active {opacity: 1;}

.quantity {display: flex; height: 24px; padding: 0 0 10px; border-bottom: 1px solid #AAA;}
.quantity_input {width: 39px; height: 100%; text-align: center; font-size: 14px; font-weight: 500; background: transparent; border: 0; padding: 0; box-sizing: border-box; position: relative;}
.quantity_minus,
.quantity_plus {width: 12px; height: 100%; cursor: pointer; transition: 0.2s; position: relative;}
.quantity_minus svg,
.quantity_plus svg {position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); transition: 0.2s; cursor: pointer; z-index: 2;}
.quantity_minus svg:nth-child(2) {opacity: 0;}
.quantity_minus.delete svg {opacity: 0;}
.quantity_minus.delete svg:nth-child(2) {opacity: 1;}

.modal,
.hidden,
.mobcats_back {display: none;}

::-webkit-input-placeholder {color: #242424;}
:-ms-input-placeholder      {color: #242424;}
:-moz-placeholder 			    {color: #242424;}
::-moz-placeholder 			    {color: #242424;}


/* SLICK */


.slick-slider {position: relative; display: block; box-sizing: border-box; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent;}
.slick-list {position: relative; display: block; overflow: hidden; margin: 0; padding: 0;}
.slick-list:focus {outline: none;}
.slick-list.dragging {cursor: pointer; cursor: hand;}

.slick-slider .slick-track,
.slick-slider .slick-list {-webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0);}

.slick-track {position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto;}
.slick-track:before,
.slick-track:after {display: table; content: '';}
.slick-track:after {clear: both;}
.slick-loading .slick-track {visibility: hidden;}

.slick-slide {display: none; float: left; height: 100%; min-height: 1px;}
.slick-slide:focus {box-shadow: none; outline: none; border: 0;}
.slick-slide img {display: block;}
.slick-slide.slick-loading img {display: none;}
.slick-slide.dragging img {pointer-events: none;}
.slick-initialized .slick-slide {display: flex;}
.slick-loading .slick-slide {visibility: hidden;}
.slick-vertical .slick-slide {display: block; height: auto; border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

.slick-dots {display: none !important;}

.custom_slarrow {position: absolute; display: block; top: 50%; margin-top: -50px; width: 100px; height: 100px; transition: 0.2s; border: 0; font-size: 0; z-index: 4;}
.custom_slarrow svg {position: absolute; left: 50%; top: 50%; width: 20px; height: 40px; margin: -20px 0 0 -10px;}
.custom_slarrow:hover {cursor: pointer;}

.custom_slarrow2 {position: absolute; display: block; top: 50%; margin-top: -20px; width: 40px; height: 40px; border-radius: 50%; background: rgba(0, 0, 0, 0.1); transition: 0.2s; border: 0; font-size: 0; z-index: 4;}
.custom_slarrow2 svg {position: absolute; left: 50%; top: 50%; width: 6px; height: 12px; margin: -6px 0 0 -3px;}
.custom_slarrow2:hover {cursor: pointer;}

.custom_slarrow3 {position: absolute; display: block; top: 50%; margin-top: -20px; height: 40px; border-radius: 0; background: transparent; transition: 0.2s; border: 0; font-size: 0; z-index: 4;}
.custom_slarrow3 img {position: relative; height: 100%;}
.custom_slarrow3:hover {cursor: pointer;}

.custom_prev {left: 0;}
.custom_next {right: 0;}
.custom_next svg {transform: scaleX(-1);}

.slick-disabled {opacity: 0.5;}
.slick-disabled:hover {cursor: default;}


/* КАСТОМНЫЙ СКРОЛЛБАР */


.mCustomScrollbar {-ms-touch-action: pinch-zoom; touch-action: pinch-zoom;}
.mCustomScrollbar.mCS_no_scrollbar,
.mCustomScrollbar.mCS_touch_action {-ms-touch-action: auto; touch-action: auto;}
.mCustomScrollBox {position: relative; overflow: hidden; height: 100%; max-width: 100%; outline: 0; direction: ltr;}
.mCSB_container {overflow: hidden; width: auto; height: auto;}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden {margin-right: 0;}
.mCSB_scrollTools {position: absolute; height: auto; left: auto; right: 0; top: 0; bottom: 0; width: 2px; opacity: 1; transition: 0.2s;}

.mCSB_scrollTools .mCSB_draggerContainer {position: absolute; background: transparent; top: -2px; left: 0; bottom: 0; right: 0; height: auto;}
.mCSB_scrollTools .mCSB_draggerRail {height: 100%; margin: 0 auto; width: 2px;}
.mCSB_scrollTools .mCSB_dragger {cursor: pointer; width: 100%; z-index: 1;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {position: relative; height: 100%; margin: 0 auto; text-align: center; width: 2px; background: #242424;}
.mCSB_container_wrapper {position: absolute; height: auto; width: auto; overflow: hidden; top: 0; left: 0; right: 0; bottom: 0;}

.mCustomScrollbar:hover .mCSB_scrollTools {opacity: 1;}


/* ШАПКА */


.header_container {position: fixed; left: 0; top: 0; right: 0; z-index: 9;}

.header_container .header_action {position: relative; padding: 0 25px; height: 41px; display: flex; align-content: center; align-items: center; background: #242424; text-align: left;}
.header_container .header_action a {margin: 0 10px 0 0; color: #AAA; font-weight: 500; font-size: 10px; line-height: 12px; letter-spacing: 0.1em; text-transform: uppercase;}
.header_container .header_action__short {display: none;}
.header_container .header_action__arrow {display: inline-block; margin: 0; padding: 0;}
.header_container .header_action__close {position: absolute; right: 16px; top: 0; width: 40px; height: 100%; cursor: pointer; z-index: 1;}
.header_container .header_action__close svg {position: absolute; width: 14px; height: 14px; left: 50%; top: 50%; margin: -7px 0 0 -7px;}

.header_container .header_block {position: relative; height: 63px; display: flex; align-content: center; align-items: center; justify-content: space-between;}

.header_container .header_submenu_close {position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 1;}

.header_container .header_logo {position: absolute; left: 25px; top: 21px; transition: 0.2s; z-index: 2;}
.header_container .header_logo img {transition: 0.2s; width: 105px;}
.header_container .header_logo__light {position: relative; opacity: 0;}
.header_container .header_logo__dark {position: absolute; left: 0; top: 0; opacity: 1;}

.header_container .header_menu {position: relative; margin: 0 0 0 25.78vw; display: flex; height: 100%; align-items: center; z-index: 3;}
.header_container .header_menu li {display: inline-block; vertical-align: top; cursor: pointer; margin: 0 57px 0 0; font-weight: 600; font-size: 13px; line-height: 16px; color: #b3b3b3; transition: 0.2s; text-transform: uppercase; position: relative;}
.header_container .header_menu li:hover:before {content:""; position: absolute; left: -25px; right: -25px; bottom: -25px; height: 50px; z-index: 1;}
.header_container .header_menu li a {color: #b3b3b3; transition: 0.2s; position: relative; z-index: 2;}
.header_container .header_menu li:hover,
.header_container .header_menu li.active,
.header_container .header_menu li.active a {color: #242424;}

.header_container .header_right {position: absolute; right: 0; top: 0; height: 100%; width: 27.92vw; box-sizing: border-box; display: flex; justify-content: space-between; align-content: center; align-items: center; z-index: 3}
.header_container .header_right:before {content:""; position: absolute; left: 0; top: 0; bottom: 0; right: -25px; z-index: 2; display: none; background: rgba(244, 244, 244, 0.9);}

.header_container .header_search {position: relative; z-index: 3; margin: 0 0 0 50px;}

.header_container .search_form {position: relative;}
.header_container .search_form svg {position: absolute; left: 0; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; cursor: pointer;}
.header_container .search_form path {stroke: #242424;}
.header_container .search_form .search_form__loupe2 {display: none;}
.header_container .search_form__input {padding: 0 0 0 26px; height: 16px; width: 100%; box-sizing: border-box; border: 0; color: #242424; background: transparent; font-size: 13px; line-height: 16px; text-transform: uppercase;}

.header_container .search_form ::-webkit-input-placeholder	{color: #242424;}
.header_container .search_form :-ms-input-placeholder     	{color: #242424;}
.header_container .search_form :-moz-placeholder 			    	{color: #242424;}
.header_container .search_form ::-moz-placeholder 			  	{color: #242424;}

.header_container .search_close {position: absolute; top: -63px; bottom: 0; right: 100%; width: 2000px; z-index: 1; background: rgba(0, 0, 0, 0.2); cursor: pointer; display: none; transition: 0.2s;}
.header_container .search_closeicon {position: absolute; right: 20px; top: 22px; width: 20px; height: 20px; display: none; transition: 0.2s; cursor: pointer; z-index: 4;}
.header_container .search_closeicon svg {position: absolute; left: 50%; top: 50%; width: 20px; height: 20px; margin: -10px 0 0 -10px; cursor: pointer;}

.header_container .search_block {height: calc(100vh - 63px); top: 63px; padding: 35px 0; position: absolute; width: 100%; right: 0; background: rgba(244, 244, 244, 0.9); box-sizing: border-box; display: none; z-index: 2; transition: 0.5s;}

body.action_active .header_container .search_block {height: calc(100vh - 63px - 41px);}

.header_container .search_block .customscroll {padding: 0 23px 0 50px;}
.header_container .search_block .customscroll .mCSB_container {margin-right: 27px;}
.header_container .search_block .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 30px;}

.header_container .search_cols {padding: 0; box-sizing: border-box; width: 100%; display: flex; flex-flow: row wrap; justify-content: space-between;}
.header_container .search_col {position: relative; width: 50%; box-sizing: border-box; padding: 0 30px 0 0; font-weight: 600; font-size: 14px; line-height: 17px; text-transform: uppercase;}
.header_container .search_col__label {position: relative; opacity: 0.5; margin: 0 0 15px;}
.header_container .search_col ul {position: relative;}
.header_container .search_col ul li {position: relative; margin: 0 0 15px; display: block; line-height: 100%;}
.header_container .search_col ul li:last-of-type {margin: 0;}
.header_container .search_col ul a {color: #242424; display: inline-block; vertical-align: top;}

.header_container .search_products__title {display: none;}
.header_container .search_products div[id] {display: flex; position: relative; flex-flow: row wrap; justify-content: space-between; width: 100%; box-sizing: border-box; padding: 60px 0 0;}
.header_container .search_products .product {position: relative; width: calc((100% - 10px)/2); margin: 0 10px 10px 0;}
.header_container .search_products .product:nth-child(2n) {margin-right: 0;}

.header_container .header_links {margin: 0 25px 0 auto; position: relative; z-index: 1; white-space: nowrap; display: flex;}
.header_container .header_links li {position: relative; display: inline-block; vertical-align: top; margin: 0 0 0 20px; line-height: 100%;}
.header_container .header_links a {display: block; width: 22px; height: 22px;}
.header_container .header_links svg {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.header_container .header_links img {display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.header_container .header_links .header_links__icon1 {display: block;}

.header_container .header_links li.active img {display: none;}
.header_container .header_links li.active .header_links__icon2 {display: block;}

.header_container .header_links__chat path {fill: #242424;}
.header_container .header_links__chat g,
.header_container .header_links__profile path,
.header_container .header_links__cart path {stroke: #242424;}


body.search_active::-webkit-scrollbar {display: none;}
body.search_active {-ms-overflow-style: none; scrollbar-width: none;}
body.search_active .header_container .header_right {width: 40.42vw;}
body.search_active .header_container .header_right:before {display: block;}
body.search_active .header_container .header_search {width: 100%;}
body.search_active .header_container .search_block {display: block;}
body.search_active .header_container .search_closeicon {display: block;}
body.search_active .header_container .header_links {display: none;}


body.home .header_container .header_logo__light {opacity: 1;}
body.home .header_container .header_logo__dark {opacity: 0;}
body.home .header_container .header_menu li,
body.home .header_container .header_menu a {color: #FFF;}
body.home .header_container .header_links__chat path {fill: #FFF;}
body.home .header_container .header_links__chat g,
body.home .header_container .header_links__profile path,
body.home .header_container .header_links__cart path {stroke: #FFF;}
body.home .header_container .search_form path {stroke: #FFF;}
body.home .header_container .search_form__input {color: #FFF;}
body.home .header_container .search_form ::-webkit-input-placeholder {color: #FFF;}
body.home .header_container .search_form :-ms-input-placeholder      {color: #FFF;}
body.home .header_container .search_form :-moz-placeholder 			     {color: #FFF;}
body.home .header_container .search_form ::-moz-placeholder 			   {color: #FFF;}

body.home .header_container .header_links img {display: none;}
body.home .header_container .header_links .header_links__icon3 {display: block;}
body.home .header_container .header_links li.active img {display: none;}
body.home .header_container .header_links li.active .header_links__icon4 {display: block;}

body.home .header_container:hover {background: rgba(244, 244, 244, 0.97);}
body.home .header_container:hover .header_logo__light {opacity: 0;}
body.home .header_container:hover .header_logo__dark {opacity: 1;}
body.home .header_container:hover .header_menu li,
body.home .header_container:hover .header_menu a {color: #b3b3b3;}
body.home .header_container:hover .header_menu li:hover,
body.home .header_container:hover .header_menu a:hover,
body.home .header_container:hover .header_menu li.active,
body.home .header_container:hover .header_menu li.active a {color: #242424;}
body.home .header_container:hover .header_links__chat path {fill: #242424;}
body.home .header_container:hover .header_links__chat g,
body.home .header_container:hover .header_links__profile path,
body.home .header_container:hover .header_links__fav path,
body.home .header_container:hover .header_links__cart path {stroke: #242424;}
body.home .header_container:hover .search_form path {stroke: #242424;}
body.home .header_container:hover .search_form__input {color: #242424;}
body.home .header_container:hover .search_form ::-webkit-input-placeholder	{color: #242424;}
body.home .header_container:hover .search_form :-ms-input-placeholder     	{color: #242424;}
body.home .header_container:hover .search_form :-moz-placeholder 			    {color: #242424;}
body.home .header_container:hover .search_form ::-moz-placeholder 			  	{color: #242424;}

body.home .header_container:hover .header_links img {display: none;}
body.home .header_container:hover .header_links .header_links__icon1 {display: block;}
body.home .header_container:hover .header_links li.active img {display: none;}
body.home .header_container:hover .header_links li.active .header_links__icon2 {display: block;}


body.search_active .search_close {display: block;}
body.search_active .header_container .search_form path {stroke: #242424;}
body.search_active .header_container .search_form__input {color: #242424;}
body.search_active .header_container .search_form ::-webkit-input-placeholder {color: #242424;}
body.search_active .header_container .search_form :-ms-input-placeholder      {color: #242424;}
body.search_active .header_container .search_form :-moz-placeholder 			     {color: #242424;}
body.search_active .header_container .search_form ::-moz-placeholder 			   {color: #242424;}


body.head_scroll .header_container {background: rgba(244, 244, 244, 0.9);}
body.head_scroll .header_container .header_logo__light {opacity: 0;}
body.head_scroll .header_container .header_logo__dark {opacity: 1;}
body.head_scroll .header_container .header_menu li,
body.head_scroll .header_container .header_menu a {color: #242424;}
body.head_scroll .header_container .header_links__chat path {fill: #242424;}
body.head_scroll .header_container .header_links__chat g,
body.head_scroll .header_container .header_links__profile path,
body.head_scroll .header_container .header_links__fav path,
body.head_scroll .header_container .header_links__cart path {stroke: #242424;}
body.head_scroll .header_container .search_form path {stroke: #242424;}
body.head_scroll .header_container .search_form__input {color: #242424;}
body.head_scroll .header_container .search_form ::-webkit-input-placeholder	{color: #242424;}
body.head_scroll .header_container .search_form :-ms-input-placeholder     	{color: #242424;}
body.head_scroll .header_container .search_form :-moz-placeholder 			    {color: #242424;}
body.head_scroll .header_container .search_form ::-moz-placeholder 			  	{color: #242424;}
body.head_scroll .header_container .header_right:before {display: none;}

body.home.head_scroll .header_container .header_links img {display: none;}
body.home.head_scroll .header_container .header_links .header_links__icon1 {display: block;}
body.home.head_scroll .header_container .header_links li.active img {display: none;}
body.home.head_scroll .header_container .header_links li.active .header_links__icon2 {display: block;}


body.submenu_show .submenu_close {display: block;}
body.submenu_show .header_container {background: rgba(244, 244, 244, 0.9);}
body.submenu_show .header_container .header_logo__light {opacity: 0;}
body.submenu_show .header_container .header_logo__dark {opacity: 1;}
body.submenu_show .header_container .header_menu li,
body.submenu_show .header_container .header_menu a {color: #242424;}
body.submenu_show .header_container .header_links__chat path {fill: #242424;}
body.submenu_show .header_container .header_links__chat g,
body.submenu_show .header_container .header_links__profile path,
body.submenu_show .header_container .header_links__fav path,
body.submenu_show .header_container .header_links__cart path {stroke: #242424;}
body.submenu_show .header_container .search_form path {stroke: #242424;}
body.submenu_show .header_container .search_form__input {color: #242424;}
body.submenu_show .header_container .search_form ::-webkit-input-placeholder {color: #242424;}
body.submenu_show .header_container .search_form :-ms-input-placeholder      {color: #242424;}
body.submenu_show .header_container .search_form :-moz-placeholder 			     {color: #242424;}
body.submenu_show .header_container .search_form ::-moz-placeholder 			   {color: #242424;}


body.search_active .header_container .header_links {opacity: 0.75; pointer-events: none;}
body.head_scroll.search_active .header_container .header_links {opacity: 0.25;}


/* СУБМЕНЮ В ШАПКЕ */


.submenu {position: absolute; left: 0; right: 0; top: 100%; transition: 0.4s; background: rgba(244, 244, 244, 0.97); z-index: 3; display: none;}
.submenu_close {position: absolute; top: 100%; left: 0; right: 0; height: 1000px; background: rgba(0, 0, 0, 0.2); z-index: 1; cursor: pointer; display: none;}
.submenu_content {position: relative; display: flex; flex-flow: row wrap; width: 100%; padding: 35px 0 40px; box-sizing: border-box; justify-content: flex-start;}

.submenu .submenu_nav {position: relative; width: 25.78vw; min-height: 100%; box-sizing: border-box; padding: 0 0 60px 0;}
.submenu .submenu_nav ul {position: relative; padding: 0 25px;}
.submenu .submenu_nav li {color: #b3b3b3; position: relative; transition: 0.2s; margin: 0 0 15px; font-weight: 600; font-size: 14px; line-height: 17px; text-transform: uppercase;}
.submenu .submenu_nav li:hover,
.submenu .submenu_nav li.active {color: #242424;}
.submenu .submenu_nav a,
.submenu .submenu_nav span {color: #b3b3b3; cursor: pointer;}
.submenu .submenu_nav li:hover a,
.submenu .submenu_nav li:hover span,
.submenu .submenu_nav li.active a,
.submenu .submenu_nav li.active span {color: #242424;}

.submenu .submenu_city {position: absolute; left: 25px; bottom: 40px; font-style: normal; padding: 0 16px 0 0; z-index: 3; cursor: pointer;}
.submenu .submenu_city svg {position: absolute; right: 0; top: 50%; transform: translateY(-50%);}
.submenu .submenu_city span {font-weight: 500; font-size: 12px; line-height: 13px; letter-spacing: 0.1em; text-transform: uppercase; color: #242424;}

.submenu .submenu_out {position: relative; display: none; width: calc(100% - 25.78vw ); box-sizing: border-box;}
.submenu .submenu_out__flex {display: flex; flex-flow: row wrap; justify-content: space-between; width: 100%;}

.submenu .submenu_main {position: relative; height: 100%; width: calc(100% - 35.16vw ); box-sizing: border-box;}
.submenu .submenu_main ul {position: relative; display: flex; flex-flow: row wrap; justify-content: space-between;}
.submenu .submenu_main li {width: 56%; font-size: 14px; line-height: 17px; position: relative; margin: 0 0 20px; box-sizing: border-box;}
.submenu .submenu_main li:nth-child(2n) {width: 44%}
.submenu .submenu_main a {font-weight: 600; text-transform: uppercase; color: #b3b3b3; transition: 0.2s;}
.submenu .submenu_main .before-link {font-weight: 600; text-transform: uppercase; color: #b3b3b3; transition: 0.2s;}
.submenu .submenu_main a:hover {color: #242424;}

.submenu .submenu_sugg {position: relative; width: 35.16vw; box-sizing: border-box; min-height: 100%;}
.submenu .submenu_suggbox {position: relative; padding: 0 25px 0 0; min-height: 100%;}
.submenu .submenu_sugg .sugg_sliderwrap {position: relative; margin: 0 -10px 0 0;}
.submenu .submenu_sugg .custom_prev {left: 20px;}
.submenu .submenu_sugg .custom_next {right: 30px;}
.submenu .submenu_sugg .slide {padding: 0 10px 0 0; display: block;}

.submenu .sugg_item {position: relative;}
.submenu .sugg_item__content {position: relative; padding: 0 0 137.5%;}


/* ПРОДУКТ */


.products_sliderwrap {position: relative; margin: 0 -10px 0 0;}
.products_sliderwrap .custom_slarrows {position: absolute; left: 0; top: 0; padding: 0 0 36.23%; right: 0;}
.products_sliderwrap .custom_next {right: 10px;}
.products_sliderwrap .slide {position: relative; padding: 0 10px 0 0;}


.product {position: relative; width: 100%;}

.product .product_tags {position: absolute; left: 15px; top: 15px; right: 0; z-index: 3; display: flex;}
.product .product_tags li {margin: 0 10px 0 0; padding: 5px 10px; background: #FFF; font-size: 13px; line-height: 100%; text-transform: uppercase; color: #242424;}
.product .product_tags li.dark {background: #242424; color: #FFF;}

.product .product_top {position: relative;}
.product .product_mobcart {display: none;}

.product .product_gal {position: relative; padding: 0 0 147.922%;}
.product .product_gal .product_gal__img {position: absolute; left: 0; top: 0; right: 0; bottom: 0; transition: 0.2s; opacity: 0;}
.product .product_gal .product_gal__img.active {opacity: 1;}

.product .product_slider {position: relative;}
.product .product_slider .product_gal__img {position: relative; cursor: pointer;}
.product .product_slider .back_img {position: relative; height: auto; bottom: auto; padding: 0 0 147.922%;}

.product .product_body {position: absolute; left: 0; right: 0; top: 0; height: 100%; display: flex; flex-flow: row wrap; z-index: 5;}

.product.v2 .product_body {position: absolute; left: 0; bottom: 0; height: auto; top: auto;}

.product .product_nav {position: relative; display: block; height: 100%; width: 100%; box-sizing: border-box; margin: 0 13px; transition: 0.2s;}
.product .product_nav ul {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; flex: 1; justify-content: space-between;}
.product .product_nav__item {margin: 0 2px; height: 100%; flex-grow: 1; cursor: pointer; position: relative; transition: 0.2s;}
.product .product_nav__item:before {content:""; position: absolute; left: 0; bottom: 15px; right: 0; height: 2px; background: #FFF; opacity: 0.25; transition: 0.2s; border-radius: 4px;}
.product .product_nav__item.active:before {opacity: 1;}

.product .product_add {position: relative; width: 100%; height: 100px; box-sizing: border-box; padding: 20px 0 10px; background: rgba(255, 255, 255, 0.9); display: none; transition: 0.2s; z-index: 3;}
.product .product_add__title {font-size: 13px; font-weight: 500; line-height: 110%; margin: 0 0 20px; text-transform: uppercase; color: #242424; opacity: 0.5; position: relative; text-align: center;}
.product .product_add__close {display: none; transition: 0.2s;}

.product .product_sizes {position: relative; width: 100%; display: flex; flex-flow: row wrap; justify-content: center;}

.product .product_size {width: calc((100% - 2px * 6)/7); white-space: nowrap; font-size: 12px; font-weight: 500; box-sizing: border-box; text-align: center; padding: 7px 0; display: block; color: #242424; border-radius: 100px;}
.product .product_size:hover {background: #D8D8D8; cursor: pointer;}
.product .product_size.disabled {opacity: 0.25;}
.product .product_size.disabled:hover {cursor: default; background: transparent;}

.product .product_loader {position: absolute; left: 50%; top: 50%; width: 40px; height: 40px; margin: -25px 0 0 -20px; z-index: 4; opacity: 0; transition: 0.2s; pointer-events: none;}

.product .sizes.loading .product_loader {opacity: 0.6;}

.product .product_bottom {position: relative; padding: 15px 0 0 0;}
.product .product_title {font-weight: 500; padding: 0 70px 0 0; margin: 0 0 10px; font-size: 14px; line-height: 110%; color: #242424; opacity: 0.75; position: relative;}
.product .product_title a {color: #242424;}
.product .product_prices {font-weight: 500; font-size: 14px; line-height: 110%; position: relative; color: #242424; display: flex;}
.product .product_price {margin: 0 15px 0 0;}
.product .product_priceold {text-decoration: line-through; opacity: 0.35;}

.product .product_measure {position: absolute; right: 52px; top: 28px; z-index: 2; cursor: pointer;}

.product .product_fav {position: absolute; right: 13px; top: 28px; z-index: 2;}

.product .product_variants {position: static; padding: 30px 0 0 0;}
.product .product_variants ul {display: flex;}
.product .product_variants li {width: 16px; height: 16px; position: relative; border: 1px solid transparent; transition: 0.2s; margin: 0 20px 0 0; border-radius: 50%;}
.product .product_variants li:last-of-type {margin: 0;}
.product .product_variants li:hover {cursor: pointer;}
.product .product_variants li.active {border-color: #AAA;}
.product .product_variants div {position: absolute; left: 50%; top: 50%; width: 10px; height: 10px; border-radius: 50%; margin: -5px 0 0 -5px;}
.product .product_variants li div.need_shadow {box-shadow: 0 0 1px 1px rgba(0,0,0,.3);}
.product .product_variants li.active div.need_shadow {box-shadow: none;}

.product .product_bottom .button_wrap {position: relative; display: block; width: 100%; padding: 30px 0 0 0;}
.product .product_bottom .button {width: 100%;}

.product:hover .product_nav {height: calc(100% - 100px);}
.product:hover .product_add {display: block;}


/* ГЛАВНАЯ */


.hometop_container {}
.hometop_container .hometop_block {margin: 0;}
.hometop_container .hometop_sliderwrap {position: relative;}

.hometop_container .hometop_item {position: relative; display: flex; width: 100%;}
.hometop_container .hometop_item .video,
.hometop_container .hometop_item video {position: relative; width: 100%; z-index: 1;}
.hometop_container .hometop_item__content {position: absolute; left: 50%; top: 0; height: 100%; display: flex; align-content: center; align-items: center; padding: 20px 0 0 0; width: 1438px; margin: 0 0 0 -719px; height: 100%; color: #FFF; box-sizing: border-box; z-index: 2; flex-flow: row wrap;}
.hometop_container .hometop_item__title {font-weight: 600; font-size: 96px; line-height: 100%; margin: 0 0 20px; width: 100%;}
.hometop_container .hometop_item__subtitle {font-weight: 700; font-size: 12px; line-height: 130%; letter-spacing: 0.4em; text-transform: uppercase;}

.hometop_container .hometop_count {position: absolute; bottom: 35px; left: 25px; font-weight: 700; font-size: 12px; line-height: 130%; letter-spacing: 0.24em; text-transform: uppercase; color: #FFF; z-index: 3;}

.hometop_container .hometop_nav {position: absolute; left: 0; top: 0; height: 100%; width: 52px; display: flex; flex-flow: row wrap; align-items: center; align-content: center; z-index: 4; justify-content: center;}
.hometop_container .hometop_nav__item {height: 80px; width: 100%; border-radius: 10px; position: relative; margin: 3px 0; cursor: pointer;}
.hometop_container .hometop_nav__item:before {content:""; position: absolute; left: 50%; top: 0; bottom: 0; width: 2px; margin-left: -1px; background: rgba(255,255,255,0.25); border-radius: 10px; z-index: 1;}
.hometop_container .hometop_nav__item div {position: absolute; left: 50%; width: 2px; margin-left: -1px; top: 0; height: 0; background: #FFF; border-radius: 10px; z-index: 2;}

.hometop_container .hometop_nav__item.active div {animation: line_fill 3s linear; opacity: 1;}

@keyframes line_fill {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}


.homecats_container {}
.homecats_container .homecats_block {padding: 30px 0 0;}
.homecats_container .homecats_sliderwrap {position: relative; margin: 0 -10px 0 0;}
.homecats_container .custom_next {right: 10px;}
.homecats_container .slide {position: relative; padding: 0 10px 0 0;}

.homecats_container .homecats_item {position: relative; padding: 0 0 150.981%; width: 100%;}
.homecats_container .homecats_item__content {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; display: flex; align-content: center; align-items: center; justify-content: center; text-align: center;}
.homecats_container .homecats_item__title {color: #FFF; font-weight: 600; font-size: 2.08vw; line-height: 110%; position: relative;}
.homecats_container .homecats_item__title:before,
.homecats_container .homecats_item__title:after {content: ""; position: absolute; bottom: -0.83vw; right: 50%; width: 0; height: 1px; background: #FFF; transition: 0.2s;}
.homecats_container .homecats_item__title:after {left: 50%; right: auto;}
.homecats_container .homecats_item__moblink {display: none;}
.homecats_container .homecats_item:hover .homecats_item__title:before,
.homecats_container .homecats_item:hover .homecats_item__title:after {width: calc(50% - 4px);}


.homenew_container .homenew_block {padding: 100px 0;}

.homehits_container .homehits_block {padding: 0 0 100px;}

