 
@media screen and (max-width: 1600px) {

.hometop_container .hometop_item__content {width: auto; margin: 0 80px; left: 0;}

}


@media screen and (max-width: 1500px) {

.header_container .header_menu {margin: 0 0 0 20vw;}
.header_container .header_menu li {margin: 0 40px 0 0;}
.header_container .header_menu li:last-of-type {margin: 0;}
.header_container .header_menu li:hover:before {left: -20px; right: -20px;}
.header_container .header_right {width: 36vw;}
.header_container .header_search {margin: 0 0 0 40px;}
.header_container .search_products {padding: 45px 0 0;}
.header_container .search_closeicon {right: 40px;}
.header_container .search_block {padding: 20px 0 30px;} 

.header_container .search_block .customscroll {padding: 0 20px 0 40px;}
.header_container .search_block .customscroll .mCSB_container {margin-right: 28px;}
.header_container .search_block .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 30px;}

body.search_active .header_container .header_menu {margin: 0 0 0 14vw;}
body.search_active .header_container .header_right {width: 50%;}

.submenu .submenu_nav {width: 20vw;} 
.submenu .submenu_out {width: calc(100% - 20vw )}
.submenu .submenu_main {width: calc(100% - 36vw );} 
.submenu .submenu_sugg {width: 36vw;}
.submenu .submenu_suggbox {padding: 0 25px 0 40px;}

}


@media screen and (max-width: 1400px) {

.product .product_add {height: 110px;}
.product .product_add__title {font-size: 12px;}
.product .product_size {width: calc((100% - 2px * 3)/4);}

}


@media screen and (max-width: 1300px) {

body.search_active .header_container .header_menu {display: none;}

} 


@media screen and (max-width: 1100px) {

body.universal_modal__out {overflow: hidden;}

.mCSB_scrollTools,
.mCSB_scrollTools .mCSB_draggerRail,
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 2px;} 

.pick_photo {width: calc((100% - 20px * 2)/3); margin: 20px 20px 0 0;}
.pick_photo:nth-child(3n) {margin-right: 0;}


.header_container .header_right {width: 32vw;}
.header_container .header_search {margin: 0 0 0 25px;}
.header_container .search_block {padding: 20px 0 20px;}
.header_container .search_closeicon {right: 29px;}

.header_container .search_block .customscroll {padding: 0 5px 0 25px;}
.header_container .search_block .customscroll .mCSB_container {margin-right: 27px;}
.header_container .search_block .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 20px;}

.submenu .submenu_main {width: calc(100% - 32vw );} 
.submenu .submenu_sugg {width: 32vw;}
.submenu .submenu_suggbox {padding: 0 25px;}
.submenu .submenu_sugg .sugg_sliderwrap {margin: 0;}
.submenu .submenu_sugg .custom_prev {left: 20px;}
.submenu .submenu_sugg .custom_next {right: 20px;}
.submenu .submenu_sugg .slide {padding: 0;} 


.hometop_container .hometop_item__title {font-size: 70px;}

.homecats_container .homecats_item__title:after,
.homecats_container .homecats_item__title:before {display: none;}

 
.product .product_add__title {display: none;}

.product .product_mobcart {display: block; position: absolute; right: 15px; bottom: 16px; z-index: 7;}

.product .product_nav {width: 65px; margin: 0 0 0 13px;}
.product .product_nav__item:before {bottom: 17px;}

.product .product_bottom {padding: 10px 0 0 0;}
.product .product_title {padding: 0;}
.product .product_price {margin: 0 10px 0 0;} 

.product .product_measure {right: 12px; bottom: 36px; top: auto;}
.product .product_fav {right: 12px; top: auto; bottom: 0; z-index: 3;}

.product .product_variants {position: relative; padding: 17px 0 0 0;}
.product .product_bottom .button_wrap {padding: 17px 0 0 0;}
.product .product_bottom .button {height: 36px; font-size: 10px; font-weight: 600;}

.product:hover .product_add {display: none;} 

}


@media screen and (max-width: 1000px) {

h1 {font-size: 38px;}

h2,
.block_title {margin: 0 0 40px; font-size: 40px; line-height: 100%;}

.block {margin: 0 20px;}

.go_section {top: auto; bottom: 4px; transform: none;}

.banner {margin: 0 0 100px;}

.container.pagetype1,
body.action_active .container.pagetype1 {padding-top: 40px;}

.container.pagetype2,
body.action_active .container.pagetype2 {padding-top: 40px; padding-bottom: 120px;}

.main_layout {padding-top: 48px;}

body.action_active .main_layout {padding-top: 77px;}

.map_nav {left: 15px; top: 15px;}
.map_nav__item {height: 24px; padding: 0 9px; font-size: 10px; margin: 0 5px 0 0;}
.map_nav__item svg {margin: 0 5px 0 0; width: 12px;}

.podeli {padding: 25px 25px 5px;}
.podeli .podeli_calc {font-size: 0; width: 14px; height: 14px; top: 32px;}
.podeli .podeli_steps {margin: 0; flex-flow: row wrap; justify-content: space-between;}
.podeli .podeli_step {width: calc((100% - 10px)/2); margin: 0 0 20px; padding: 0; flex: none;}

::-webkit-input-placeholder {color: #5b5b5b;}
:-ms-input-placeholder      {color: #5b5b5b;}
:-moz-placeholder 			    {color: #5b5b5b;}
::-moz-placeholder 			    {color: #5b5b5b;}


.header_container,
body.head_scroll .header_container,
body.submenu_show .header_container {background: #FFF; border-bottom: 1px solid #DCDCDC;}

body.action_active .header_container {top: 29px;}  

.header_container .header_block {height: 48px;}

.header_container .mobmenu_in {display: block; position: absolute; left: 20px; top: 17px; width: 20px; height: 13px; cursor: pointer; z-index: 3;}
.header_container .mobmenu_in__line {position: absolute; left: 0; width: 100%; top: 0; height: 1px; background: #242424; transition: 0.2s;}
.header_container .mobmenu_in__line1,
.header_container .mobmenu_in__line3 {left: 0;}
.header_container .mobmenu_in__line2 {width: 15px; top: 6px;}
.header_container .mobmenu_in__line3 {top: 12px;}

.header_container .mobmenu_in.active {top: 14px; height: 20px;}
.header_container .mobmenu_in.active .mobmenu_in__line2 {display: none;}
.header_container .mobmenu_in.active .mobmenu_in__line1 {top: 10px; transform: rotate(45deg);}
.header_container .mobmenu_in.active .mobmenu_in__line3 {top: 10px; transform: rotate(-45deg);}

.header_container .header_action {position: fixed; left: 0; top: 0; right: 0; padding: 0 35px; height: 29px; z-index: 6; text-align: center; justify-content: center;}
.header_container .header_action a {margin: 0; color: #FFF; font-size: 12px; line-height: 15px; letter-spacing: 0; text-transform: none;}
.header_container .header_action__full,
.header_container .header_action__arrow {display: none;}
.header_container .header_action__short {display: inline;}
.header_container .header_action__close {width: 30px; right: 6px;}
.header_container .header_action__close svg {width: 12px; height: 12px; margin: -6px 0 0 -6px;}

.header_container .header_logo {left: 56px; top: 14px;}
.header_container .header_logo img {width: 114px;}

body.home .header_container .header_logo__light {opacity: 0;}
body.home .header_container .header_logo__dark {opacity: 1;}

.header_container .header_menu {display: none;}
.header_container .header_search {margin: 0;}
.header_container .search_form {width: 24px; height: 24px;}
.header_container .search_form svg {position: relative; left: auto; width: 24px; height: 24px;}
.header_container .search_form .search_form__loupe1 {display: none;}
.header_container .search_form .search_form__loupe2 {display: block;}
.header_container .search_form__input {display: none;}
.header_container .header_links {margin: 0 20px 0 auto;}
.header_container .header_links li {margin: 0 0 0 20px;} 
.header_container .header_links a {width: 24px; height: 24px;} 
.header_container .header_links .header_links__chat,
.header_container .header_links .header_links__profile {display: none;}

.header_container .header_links .header_links__icon1,
.header_container .header_links li.active .header_links__icon2,
.header_container .header_links img,
body.home .header_container .header_links img,
body.home .header_container:hover .header_links img,
body.home.head_scroll .header_container .header_links img,
body.home.head_scroll .header_container .header_links .header_links__icon1,
body.home.head_scroll .header_container .header_links li.active .header_links__icon2,
body.home .header_container:hover .header_links .header_links__icon1,
body.home .header_container:hover .header_links li.active .header_links__icon2 {display: none;}

.header_container .header_links .header_links__icon5,
body.home .header_container .header_links .header_links__icon5,
body.home .header_container:hover .header_links .header_links__icon5,
body.home.head_scroll .header_container .header_links .header_links__icon5 {display: block;}

.header_container .header_links li.active .header_links__icon6,
body.home .header_container .header_links li.active .header_links__icon6,
body.home .header_container:hover .header_links li.active .header_links__icon6,
body.home.head_scroll .header_container .header_links li.active .header_links__icon6 {display: block;}

.header_container .header_right {width: auto;}

.header_container .search_block {position: fixed; top: 0; padding: calc(48px + 50px) 0 25px; height: 100vh; background: #f4f4f4;}

.header_container .search_block .customscroll {padding: 0 5px 0 20px;}
.header_container .search_block .customscroll .mCSB_container {margin-right: 22px;}
.header_container .search_block .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 15px;}

.header_container .search_cols {margin: 0 0 90px;}
.header_container .search_col1 {margin: 0 0 32px;}
.header_container .search_col {width: 100%; padding: 0; font-weight: 500; font-size: 13px; line-height: 16px;}
.header_container .search_col__label {opacity: 1; margin: 0 0 30px;}
.header_container .search_col ul li {position: relative; margin: 0 0 20px;}
.header_container .search_col ul li:last-of-type {margin: 0;}
.header_container .search_col ul a {color: #5b5b5b; font-weight: normal;}
.header_container .search_products__title {display: block; margin: 0 0 20px; font-weight: 500; font-size: 13px; line-height: 16px; text-transform: uppercase;}
.header_container .search_products {padding: 0;}
.header_container .search_products .product {width: calc((100% - 20px * 2)/3); margin: 0 20px 22px 0;}
.header_container .search_products .product:nth-child(2n) {margin-right: 20px;}
.header_container .search_products .product:nth-child(3n) {margin-right: 0;}
 
body.home .header_container .search_form path {stroke: #242424;}

body.search_active .header_container .header_right {width: 100%; box-sizing: border-box; padding: 0 20px;}
body.search_active .header_container .header_right:before {z-index: 3; background: #FFF; border-bottom: 1px solid #DCDCDC;}
body.search_active .header_container .header_links {display: none;}
body.search_active .header_container .header_search {width: 100%;}
body.search_active .header_container .search_form {width: 100%; height: 100%;}
body.search_active .header_container .search_form__input {display: block; padding: 0 0 0 39px;}
body.search_active .header_container .search_form svg {position: absolute; left: 0; top: 50%; width: 22px; height: 22px; transform: translateY(-50%);}
body.search_active .header_container .search_closeicon {display: block; width: 20px; height: 20px; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
 
body.action_active .header_container .search_block {padding-top: calc(77px + 50px);} 

body.head_scroll.search_active .header_container .header_right:before {display: block;}


.product .product_tags li {margin: 0 5px 0 0; font-size: 9px;}

.products_sliderwrap .custom_slarrows {display: none;}


.hometop_container .hometop_count {display: none;}
.hometop_container .hometop_item {height: calc((var(--vh, 1vh) * 100) - 48px);}
.hometop_container .hometop_item__content {position: absolute; top: auto; left: 20px; right: 20px; bottom: 82px; padding: 0; margin: 0; height: auto;}
.hometop_container .hometop_item__title {font-weight: 500; font-size: 64px; line-height: 100%; margin: 0 0 30px;}
.hometop_container .hometop_item__subtitle {font-size: 12px; line-height: 130%;}
.hometop_container .hometop_nav {left: 20px; top: auto; bottom: 26px; height: 30px; width: auto; right: 20px; display: flex; flex-direction: column; justify-content: space-between;}
.hometop_container .hometop_nav__item {height: 30px; width: auto; flex-grow: 1; width: 33%; border-radius: 10px; position: relative; margin: 0 2px;}
.hometop_container .hometop_nav__item:before {left: 0; top: 50%; height: 2px; bottom: 0; width: 100%; margin: -1px 0 0 0;}
.hometop_container .hometop_nav__item div {left: 0; width: 0; margin: -1px 0 0 0; top: 50%; height: 2px;}
.hometop_container .hometop_nav__item.active div {animation: line_fill2 3s linear; opacity: 1;}
@keyframes line_fill2 { 0% {width: 0;} 100% {width: 100%;}}

body.action_active .hometop_container .hometop_item {height: calc((var(--vh, 1vh) * 100) - 48px - 29px);}


.homecats_container .homecats_block {margin: 0; padding: 0;}
.homecats_container .homecats_sliderwrap {margin: 0;}
.homecats_container .custom_prev {left: 20px;}
.homecats_container .custom_next {right: 20px;}
.homecats_container .slide {padding: 0;}
.homecats_container .homecats_item {padding: 0 0 148.698%;}
.homecats_container .homecats_item__content {flex-flow: row wrap;}
.homecats_container .homecats_item__title {font-size: 40px; line-height: 110%; width: 100%;}
.homecats_container .homecats_item__moblink {display: block; height: 50px; width: 172px; margin: 30px auto 0; font-weight: 500; font-size: 16px; line-height: 20px;}
.homecats_container .homecats_item:hover .homecats_item__title:before,
.homecats_container .homecats_item:hover .homecats_item__title:after {display: none;}

}


@media screen and (max-width: 750px) {

.alert_top {top: 58px;}

body.action_active .alert_top {top: 85px;}

.alert_mobchange {padding: 15px 10px; font-size: 12px; line-height: 130%; width: 330px;}

h1 {font-size: 24px;}

h2, 
.block_title {margin: 0 0 25px; font-size: 20px; line-height: 100%;}

.banner {margin: 0 0 60px;}

.block {margin: 0 15px;}

.breadcrumbs {font-size: 10px; line-height: 12px;}

.custom_slarrow {margin-top: -35px; width: 70px; height: 70px;}
.custom_slarrow svg {width: 13px; height: 26px; margin: -13px 0 0 -7px;}

.custom_slarrow3 {margin-top: -13px; height: 26px;}

.go_section {font-size: 10px;}

.container.pagetype1,
body.action_active .container.pagetype1 {padding-top: 24px;}

.container.pagetype2,
body.action_active .container.pagetype2 {padding-top: 24px; padding-bottom: 20px;}

.main_layout {padding-top: 45px;}

body.action_active .main_layout {padding-top: 72px;}

.metro {font-size: 12px;}

.hint {padding: 22px 15px 25px;}
.hint:before {display: none;}
.hint_title {margin: 0 0 12px; font-weight: 500; font-size: 14px; line-height: 17px; text-transform: none;}
.hint_text {font-size: 13px; line-height: 130%;}
.hint_close {right: 19px; top: 24px; width: 14px; height: 14px;}

.item_w_hint.active .hint {display: block; position: fixed; left: 0; right: 0; bottom: 0; z-index: 991; top: auto; width: 100%;}

.hints_close {position: fixed; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.2); z-index: 990; transition: 0.2s; display: none; cursor: pointer;}

body.hints_out .hints_close {display: block;}

.quantity {display: flex; height: 24px; padding: 0 0 5px;} 
.quantity_input {width: 25px; font-size: 12px;}
.quantity_minus svg,
.quantity_plus svg {width: 12px;}
 

.pick_photos {padding: 20px 0 0 0;}
.pick_photo {width: calc((100% - 10px * 2)/3); margin: 10px 10px 0 0;}
.pick_photo:nth-child(3n) {margin-right: 0;}

.pick_chars li p {font-size: 14px;}
.pick_chars__label {font-size: 12px;}

.podeli {padding: 25px 15px 5px;}


.header_container .header_block {height: 45px;}
.header_container .header_logo {top: 15px; left: 41px;}
.header_container .header_logo img {width: 82px;}
.header_container .header_action {padding: 0 12px; height: 27px; justify-content: flex-start; text-align: left;}
.header_container .header_action a {font-size: 10px; line-height: 12px;}
.header_container .header_action__close {width: 26px; right: 3px;}
.header_container .header_links {margin: 0 15px 0 auto;}
.header_container .mobmenu_in {left: 15px; top: 16px; width: 16px;}
.header_container .mobmenu_in__line2 {width: 12px;}
.header_container .mobmenu_in.active {top: 12px;}

body.action_active .header_container {top: 27px;}


.header_container .search_block {padding: 45px 0 0 0;}
.header_container .search_block .customscroll {padding: 0 5px 0 15px; margin: 30px 0 0 0; height: calc(100% - 30px - 20px);}

.header_container .search_cols {margin: 0 0 50px;}
.header_container .search_col__label {margin: 0 0 25px; font-size: 12px; line-height: 15px;}
.header_container .search_col ul a {font-size: 12px; line-height: 13px;}
.header_container .search_products__title {margin: 0 0 25px; font-size: 12px; line-height: 15px;}
.header_container .search_products .product {width: calc((100% - 10px)/2); margin: 0 10px 25px 0;}
.header_container .search_products .product:nth-child(3n) {margin-right: 10px;}
.header_container .search_products .product:nth-child(2n) {margin-right: 0;}
 
.header_container .search_block .customscroll {padding: 0 5px 0 15px;}
.header_container .search_block .customscroll .mCSB_container {margin-right: 17px;}
.header_container .search_block .customscroll.mCS_no_scrollbar .mCSB_container {margin-right: 10px;}

body.action_active .header_container .search_block {padding-top: 72px;}

body.search_active .header_container .header_right {padding: 0 15px;}
body.search_active .header_container .search_form__input {font-size: 12px; font-weight: 500; padding: 0 0 0 31px;}
body.search_active .header_container .search_form svg {width: 16px; height: 16px;}
body.search_active .header_container .search_closeicon {width: 30px; height: 30px; right: 2px;}
body.search_active .header_container .search_closeicon svg {width: 13px; height: 13px; margin: -6px 0 0 -6px;}


.product .product_tags {left: 10px; top: 10px;}
.product .product_tags li {margin: 0 2px 0 0; padding: 2px 5px; font-size: 8px;}
.product .product_mobcart {right: 14px; bottom: 14px;}
.product .product_mobcart img {width: 12px;}
.product .product_variants li {margin: 0 11px 0 0;}
.product .product_title,
.product .product_prices {font-size: 12px; line-height: 110%;}
.product .product_nav {width: 50px;}

.hometop_container .hometop_item {height: calc((var(--vh, 1vh) * 100) - 45px);}
.hometop_container .hometop_item__content {left: 15px; right: 15px; bottom: 57px;}
.hometop_container .hometop_item__title {font-size: 32px; line-height: 100%; margin: 0;}
.hometop_container .hometop_item__subtitle {display: none;}
.hometop_container .hometop_nav {left: 15px; bottom: 16px; height: 30px; right: 15px;}

body.action_active .hometop_container .hometop_item {height: calc((var(--vh, 1vh) * 100) - 45px - 27px);}

.homecats_container .homecats_item {padding: 0 0 144.724%;}
.homecats_container .homecats_item__title {font-size: 22px; line-height: 110%;}
.homecats_container .homecats_item__moblink {height: 35px; width: 139px; margin: 25px auto 0; font-size: 12px;}
.homecats_container .custom_prev {left: 0;}
.homecats_container .custom_next {right: 0;}

.homenew_container .homenew_block {padding: 60px 0;}
.homenew_container .go_section span {display: none;}

.homehits_container .homehits_block {padding: 0 0 65px;}

 

}

